//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'ApplicationAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/components/angular-toastr/dist/angular-toastr.tpls.min.js')
  script(src='/javascripts/application_admin.js')

append css
  link(rel='stylesheet', href='/components/angular-toastr/dist/angular-toastr.css')
  

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId)") {{competition.name}}
    span.breadcrumb-item.active Application settings


block content
  .row
    .col-md-1
    .col-md-10
      h1 参加申込受付設定 - {{competition.name}}
      p このページでは，チーム自身による参加登録の受付可否について設定します．
      hr
      
      h3 リーグ毎の設定
      table.custom(style="margin-bottom:20px;")
        thead
            tr
              th リーグ
              th 期限
              th アクセス
              th 編集
        tbody
            tr(ng-repeat='league in competition.application')
              td(ng-bind='getLeagueName(league.league)', ng-style="{backgroundColor: applicationEnabled(league) ? '#bcffbc':'#ffcccc'}")
              td(ng-bind='deadline(league.deadline)', ng-style="{backgroundColor: applicationEnabled(league) ? '#bcffbc':'#ffcccc'}")
              td(ng-style="{backgroundColor: applicationEnabled(league) ? '#bcffbc':'#ffcccc'}")
                  span(ng-if='league.enable') {{'common.enable' | translate}}
                  span(ng-if='!league.enable') {{'common.disable' | translate}}
              td()
                button.btn.btn-sm.btn-secondary(type='button', style="margin-right:5px;", ng-click="go('/admin/'+ competition._id +'/application/' + league.league)")
                  i.fas.fa-cogs &nbsp;
                  | 編集