//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'FormEditor'

append scripts
  script.
    var competitionId = "#{id}"
    var leagueId = "#{lid}"
  script(src="/javascripts/form_editor.js")
  link(rel='stylesheet', href='/components/angular-color-picker/dist/angularjs-color-picker.min.css')
  //link(rel='stylesheet', href='/components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css')
  script(src='/components/tinycolor/dist/tinycolor-min.js')
  script(src='/components/angular-color-picker/dist/angularjs-color-picker.min.js')
  link(rel='stylesheet', href='/components/quill.snow/index.css')
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')

append css
    style.
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu a::after {
            transform: rotate(-90deg);
            position: absolute;
            right: 6px;
            top: .8em;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-left: .1rem;
            margin-right: .1rem;
        }
  
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id)") {{competition.name}}
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id + '/documents')") Document settings
    span.breadcrumb-item.active {{league.name}}


block content
      .row
        .col-md-10
            h1 フォームエディター
        .col-md-2(style="text-align:right;")
          button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()') {{"signage.editor.save" | translate}}
      br
      .row
        .col-md-12
            h3 質問内容
            div(style="text-align : center;")
                .btn-group
                    button.btn.btn-success(type='button',ng-click='addBlock(0)')
                        i.fas.fa-plus &nbsp;ここに新規ブロックを追加

            div(style="margin: 20px;" ng-repeat="block in blocks track by $index")
                .card(ng-style="{border: '3px solid #' + block.color}")
                    h5.card-header 質問ブロック
                        button.btn.btn-danger(type='button', ng-click='removeBlock($index)', style="float:right;margin-left:5px;")
                            i.fas.fa-times
                        button.btn.btn-info(type='button', ng-click='moveBlock($index,$index+1)', ng-disabled="$last", style="float:right;margin-left:5px;")
                            i.fas.fa-chevron-down
                        button.btn.btn-info(type='button', ng-click='moveBlock($index,$index-1)', ng-disabled="$first", style="float:right;margin-left:5px;")
                            i.fas.fa-chevron-up
                    .card-body
                        ul.nav.nav-tabs.mb-3(role='tablist')
                            i.fas.fa-globe.fa-2x &nbsp;
                            li.nav-item(ng-repeat="i18n in block.i18n track by $index", style="margin-right:5px;")
                                a.nav-link(ng-class="{active:$first}",ng-attr-id="{{'block' + $parent.$index + '_lang'+ $index + '_tab'}}", data-toggle='pill',ng-href="{{'#block' + $parent.$index + '_lang'+ $index}}", role='tab', aria-controls="{{'block' + $parent.$index + '_lang'+ $index}}", aria-selected='true') {{i18n.language}}
                        .tab-content(style="margin-bottom:10px;")
                            .tab-pane.fade.show(ng-class="{active:$first}", ng-attr-id="{{'block' + $parent.$index + '_lang'+ $index}}", role='tabpanel', aria-labelledby="'block' + $parent.$index + '_lang'+ $index + '_tab'", ng-repeat="i18n in block.i18n track by $index")
                                .input-group(style="margin 0 auto;")
                                    .input-group-prepend
                                        span.input-group-text ブロックタイトル
                                    input.form-control(type='text', ng-model='i18n.title')
                        .input-group(style="width:100%;margin 0 auto;")
                            span ブロックカラー:
                            color-picker(ng-model='block.color' options="{'format':'HEX'}")
                        hr
                        div(style="text-align : center;")
                            .btn-group                                
                                button.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    i.fas.fa-plus &nbsp;ここに新規質問を追加&nbsp;
                                    span.sr-only Toggle Dropdown
                                .dropdown-menu
                                    a.dropdown-item(href='#',ng-click="addQuestion($index,0,'input')") 記述式設問
                                    a.dropdown-item(href='#',ng-click="addQuestion($index,0,'select')") 選択式設問
                                    .dropdown-divide
                                        h6.dropdown-header ファイルアップロード
                                            a.dropdown-item(href='#',ng-click="addQuestion($index,0,'pdf')") PDFファイル
                                            a.dropdown-item(href='#',ng-click="addQuestion($index,0,'picture')") 画像ファイル
                                            a.dropdown-item(href='#',ng-click="addQuestion($index,0,'movie')") 動画ファイル
                        div(ng-repeat="question in block.questions track by $index")
                            hr(ng-style="{borderTop: '3px solid #' + block.color}")
                            .row(style="margin:10px 0px;")
                                .col-md-4
                                    .input-group(style="width:100%;margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text 設問タイプ:
                                        select.custom-select(ng-model='question.type')
                                            option(value='input') 記述式設問
                                            option(value='select') 選択式設問
                                            option(value='pdf') PDFファイル
                                            option(value='picture') 画像ファイル
                                            option(value='movie') 動画ファイル
                                .col-md-4
                                    .input-group(style="width:100%;margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text 必須項目:
                                        select.custom-select(ng-model='question.required')
                                            option(ng-value='true') 必須
                                            option(ng-value='false') 任意
                                .col-md-4
                                    button.btn.btn-danger(type='button', ng-click='removeQuestion($parent.$index,$index)', style="float:right;margin-left:5px;")
                                        i.fas.fa-times
                                    button.btn.btn-info(type='button', ng-click='moveQuestion($parent.$index,$index,$index+1)', ng-disabled="$last", style="float:right;margin-left:5px;")
                                        i.fas.fa-chevron-down
                                    button.btn.btn-info(type='button', ng-click='moveQuestion($parent.$index,$index,$index-1)', ng-disabled="$first", style="float:right;margin-left:5px;")
                                        i.fas.fa-chevron-up
                            ul.nav.nav-tabs.mb-3(role='tablist')
                                i.fas.fa-globe.fa-2x &nbsp;
                                li.nav-item(ng-repeat="i18n in question.i18n track by $index", style="margin-right:5px;")
                                    a.nav-link(ng-class="{active:$first}",ng-attr-id="{{'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index + '_tab'}}", data-toggle='pill',ng-href="{{'#block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index}}", role='tab', aria-controls="{{'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index}}", aria-selected='true') {{i18n.language}}
                            .tab-content
                                .tab-pane.fade.show(ng-class="{active:$first}", ng-attr-id="{{'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index}}", role='tabpanel', aria-labelledby="'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index + '_tab'", ng-repeat="i18n in question.i18n track by $index")
                                    .input-group(style="margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text 質問文
                                        input.form-control(type='text', ng-model='i18n.question')
                                    br
                                    span(style="margin-top:10px;") 詳細説明
                                    ng-quill-editor(ng-model="i18n.description")
                                    div(ng-if="question.type == 'input'", style="margin-top:10px;")
                                        span 回答例
                                        ng-quill-editor(ng-model="i18n.example")
                                    div(ng-if="question.type == 'select'", style="margin-top:10px;")
                                        span 選択肢
                                        br
                                        div(ng-repeat="option in i18n.options track by $index", style="margin:10px 0px;")
                                            .input-group(style="margin 0 auto;")
                                                .input-group-prepend
                                                    span.input-group-text {{option.value}}
                                                input.form-control(type='text', ng-model='option.text' style="width:950px;")
                                                .input-group-append
                                                    button.btn.btn-info(type='button', ng-disabled="$first", ng-click='moveOption($parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index, $parent.$index, $index, $index-1)')
                                                        i.fas.fa-chevron-up
                                                .input-group-append
                                                    button.btn.btn-info(type='button', ng-disabled="$last", ng-click='moveOption($parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index, $parent.$index, $index, $index+1)')
                                                        i.fas.fa-chevron-down
                                                .input-group-append
                                                    button.btn.btn-danger(type='button', ng-click='removeOption($parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index, $parent.$index, $index)')
                                                        i.fas.fa-times
                                        div(style="text-align : center;margin:20px;")
                                            button.btn.btn-success(type='button', ng-click='addOption($parent.$parent.$parent.$index, $parent.$parent.$index, $parent.$index)')
                                                i.fas.fa-plus
                                    div(ng-if="question.type == 'pdf' || question.type == 'picture' || question.type == 'movie'", style="margin-top:10px;")
                                        .input-group(style="margin 0 auto;")
                                            .input-group-prepend
                                                span.input-group-text ファイル名
                                            input.form-control(type='text', ng-model='question.fileName')

                            hr(ng-style="{borderTop: '3px solid #' + block.color}")
                            div(style="text-align : center;")
                                .btn-group                                
                                    button.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        i.fas.fa-plus &nbsp;ここに新規質問を追加&nbsp;
                                        span.sr-only Toggle Dropdown
                                    .dropdown-menu
                                        a.dropdown-item(href='#',ng-click="addQuestion($parent.$index,$index+1,'input')") 記述式設問
                                        a.dropdown-item(href='#',ng-click="addQuestion($parent.$index,$index+1,'select')") 選択式設問
                                        .dropdown-divide
                                            h6.dropdown-header ファイルアップロード
                                                a.dropdown-item(href='#',ng-click="addQuestion($parent.$index,$index+1,'pdf')") PDFファイル
                                                a.dropdown-item(href='#',ng-click="addQuestion($parent.$index,$index+1,'picture')") 画像ファイル
                                                a.dropdown-item(href='#',ng-click="addQuestion($parent.$index,$index+1,'movie')") 動画ファイル

                div(style="text-align : center;margin-top:20px;")
                    .btn-group
                        button.btn.btn-success(type='button',ng-click='addBlock($index+1)')
                            i.fas.fa-plus &nbsp;ここに新規ブロックを追加
            br
            br
            br
            h3 {{"signage.editor.news" | translate}}
            div(style="text-align : center;")
                button.btn.btn-success(type='button', ng-click='addNews(0)')
                    i.fas.fa-plus
            div(style="margin: 20px;width:calc(100%-50px);" ng-repeat="new in news track by $index")
                .input-group(style="margin 0 auto;")
                    .input-group-prepend
                        span.input-group-text {{$index+1}}
                    input.form-control(type='text', ng-model='new.txt' style="width:950px;")
                    .input-group-append
                        button.btn.btn-danger(type='button', ng-click='removeNews($index)')
                            i.fas.fa-times
                div(style="text-align : center;margin:20px;")
                    button.btn.btn-success(type='button', ng-click='addNews($index+1)')
                        i.fas.fa-plus