//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'FormEditor'

append scripts
  script.
    var competitionId = "#{id}"
    var leagueId = "#{lid}"
  script(src="/javascripts/form_editor.js")
  script(src='/components/tinycolor/dist/tinycolor-min.js')
  script(src='/components/angular-color-picker/dist/angularjs-color-picker.min.js')
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')
  script(src='/components/angular-toastr/dist/angular-toastr.tpls.min.js')
  script(src='/components/quill-image-drop-and-paste/quill-image-drop-and-paste.min.js')
  script(src="/components/bootstrap-fileinput/js/fileinput.min.js")
  script(src="/components/bootstrap-fileinput/themes/fa/theme.min.js")
  script(src="/components/bootstrap-fileinput/js/locales/ja.js")


append css
    style.
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu a::after {
            transform: rotate(-90deg);
            position: absolute;
            right: 6px;
            top: .8em;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-left: .1rem;
            margin-right: .1rem;
        }
    link(rel='stylesheet', href='/components/angular-color-picker/dist/angularjs-color-picker.min.css')
    link(rel='stylesheet', href='/components/quill.snow/index.css')
    link(rel='stylesheet', href='/components/angular-toastr/dist/angular-toastr.min.css')
    link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")


  
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id)") {{competition.name}}
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id + '/documents')") Document settings
    span.breadcrumb-item.active {{league.name}}


block content
      .row
        .col-md-8
            h1 {{"document.editor.title" | translate}}
            h3(style="margin-left:40px;") {{league.name}}
        .col-md-4(style="text-align:right;")
            button.btn.btn-lg.btn-outline-info(type='button', ng-click='preview()', style="margin-right:10px;")
                i.fas.fa-eye &nbsp;
                | {{"document.editor.preview" | translate}}
            button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()')
                i.fas.fa-save &nbsp;
                | {{"common.save" | translate}}
      .row
        .col-md-6
            button.btn.btn-dark(type='button', ng-click='export()')
                i.fas.fa-file-export &nbsp;
                | {{"document.editor.export" | translate}}
        .col-md-6
            input#select(type='file', name='select')
      hr
      .row
        .col-md-12
            h3 {{"document.editor.language" | translate}}
            .input-group(style="width:100%;margin: 10px auto;", ng-repeat="lang in languages")
                .input-group-prepend
                    span.input-group-text {{"language." + lang.language | translate}}
                select.custom-select(ng-model='lang.enable', ng-blur="save()")
                    option(ng-value='true') {{"common.enable" | translate}}
                    option(ng-value='false') {{"common.disable" | translate}}
      hr
      .row
        .col-md-12
            h3 {{"document.editor.notification" | translate}}
            div(style="text-align : center;")
                .btn-group
                    button.btn.btn-success(type='button',ng-click='addNotice(0)')
                        i.fas.fa-plus &nbsp;{{"document.editor.addNotification" | translate}}
            div(style="margin: 20px;" ng-repeat="notification in notifications track by $index")
                .alert(role="alert", ng-style="{color: '#'+ notification.color, backgroundColor: '#'+ notification.bkColor, borderColor: '#'+ notification.color}")
                    .row
                        .col-md-4
                            .input-group(style="width:100%;margin 0 auto;")
                                span {{"document.editor.letterColour" | translate}}:
                                color-picker(ng-model='notification.color' options="{'format':'HEX'}" ng-blur="save()")
                        .col-md-4
                            .input-group(style="width:100%;margin 0 auto;")
                                span {{"document.editor.backgroundColour" | translate}}:
                                color-picker(ng-model='notification.bkColor' options="{'format':'HEX'}" ng-blur="save()")
                        .col-md-4
                            button.btn.btn-danger(type='button', ng-click='removeNotice($index)', style="float:right;margin-left:5px;")
                                i.fas.fa-trash-alt
                            button.btn.btn-info(type='button', ng-click='moveNotice($index,$index+1)', ng-disabled="$last", style="float:right;margin-left:5px;")
                                i.fas.fa-chevron-down
                            button.btn.btn-info(type='button', ng-click='moveNotice($index,$index-1)', ng-disabled="$first", style="float:right;margin-left:5px;")
                                i.fas.fa-chevron-up
                        .col-md-12
                            ul.nav.nav-tabs.mb-3(role='tablist')
                                i.fas.fa-globe.fa-2x &nbsp;
                                li.nav-item(ng-repeat="i18n in notification.i18n track by $index", style="margin-right:5px;")
                                    a.nav-link(ng-class="{active:$first}",ng-attr-id="{{'notification' + $parent.$index + '_lang'+ $index + '_tab'}}", data-toggle='pill',ng-href="{{'#notification' + $parent.$index + '_lang'+ $index}}", role='tab', aria-controls="{{'notification' + $parent.$index + '_lang'+ $index}}", aria-selected='true') {{"language." + i18n.language | translate}}
                            .tab-content(style="margin-bottom:10px;")
                                .tab-pane.fade.show(ng-class="{active:$first}", ng-attr-id="{{'notification' + $parent.$index + '_lang'+ $index}}", role='tabpanel', aria-labelledby="'notification' + $parent.$index + '_lang'+ $index + '_tab'", ng-repeat="i18n in notification.i18n track by $index")
                                    .input-group(style="margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text {{"document.editor.cTitle" | translate}}
                                        input.form-control(type='text', ng-model='i18n.title', ng-blur="save()")
                                    br
                                    span(style="margin-top:10px;") {{"document.editor.content" | translate}}
                                    ng-quill-editor(ng-model="i18n.description", ng-blur="save()")
                div(style="text-align : center;")
                    .btn-group
                        button.btn.btn-success(type='button',ng-click='addNotice($index+1)')
                            i.fas.fa-plus &nbsp;{{"document.editor.addNotification" | translate}}
                    

        .col-md-12
            h3 {{"document.editor.question" | translate}}
            div(style="text-align : center;")
                .btn-group
                    button.btn.btn-success(type='button',ng-click='addBlock(0)')
                        i.fas.fa-plus &nbsp;{{"document.editor.addBlock" | translate}}

            div(style="margin: 20px;" ng-repeat="block in blocks track by $index")
                .card(ng-style="{border: '3px solid #' + block.color}")
                    h5.card-header {{"document.editor.block" | translate}}
                        button.btn.btn-danger(type='button', ng-click='removeBlock($index)', style="float:right;margin-left:5px;")
                            i.fas.fa-trash-alt
                        button.btn.btn-info(type='button', ng-click='moveBlock($index,$index+1)', ng-disabled="$last", style="float:right;margin-left:5px;")
                            i.fas.fa-chevron-down
                        button.btn.btn-info(type='button', ng-click='moveBlock($index,$index-1)', ng-disabled="$first", style="float:right;margin-left:5px;")
                            i.fas.fa-chevron-up
                    .card-body
                        ul.nav.nav-tabs.mb-3(role='tablist')
                            i.fas.fa-globe.fa-2x &nbsp;
                            li.nav-item(ng-repeat="i18n in block.i18n track by $index", style="margin-right:5px;")
                                a.nav-link(ng-class="{active:$first}",ng-attr-id="{{'block' + $parent.$index + '_lang'+ $index + '_tab'}}", data-toggle='pill',ng-href="{{'#block' + $parent.$index + '_lang'+ $index}}", role='tab', aria-controls="{{'block' + $parent.$index + '_lang'+ $index}}", aria-selected='true')  {{"language." + i18n.language | translate}}
                        .tab-content(style="margin-bottom:10px;")
                            .tab-pane.fade.show(ng-class="{active:$first}", ng-attr-id="{{'block' + $parent.$index + '_lang'+ $index}}", role='tabpanel', aria-labelledby="'block' + $parent.$index + '_lang'+ $index + '_tab'", ng-repeat="i18n in block.i18n track by $index")
                                .input-group(style="margin 0 auto;")
                                    .input-group-prepend
                                        span.input-group-text {{"document.editor.blockTitle" | translate}}
                                    input.form-control(type='text', ng-model='i18n.title', ng-blur="save()")
                        .input-group(style="width:100%;margin 0 auto;")
                            span {{"document.editor.blockColour" | translate}}:
                            color-picker(ng-model='block.color', options="{'format':'HEX'}", ng-blur="save()")
                        hr
                        div(style="text-align : center;")
                            .btn-group                                
                                button.btn.btn-success(type='button',ng-click="addQuestion($index,0,'input')")
                                    i.fas.fa-plus &nbsp;{{"document.editor.addQuestion" | translate}}
                        div(ng-repeat="question in block.questions track by $index")
                            hr(ng-style="{borderTop: '3px solid #' + block.color}")
                            .row(style="margin:10px 0px;")
                                .col-md-4
                                    .input-group(style="width:100%;margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text {{"document.editor.questionType" | translate}}:
                                        select.custom-select(ng-model='question.type', ng-blur="save()")
                                            option(value='input') {{"document.editor.writing" | translate}}
                                            option(value='select') {{"document.editor.select" | translate}}
                                            option(value='pdf') {{"document.editor.pdf" | translate}}
                                            option(value='picture') {{"document.editor.picture" | translate}}
                                            option(value='movie') {{"document.editor.video" | translate}}
                                            option(value='zip') {{"document.editor.archive" | translate}}
                                .col-md-4
                                    .input-group(style="width:100%;margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text {{"document.editor.requiredOrNot" | translate}}
                                        select.custom-select(ng-model='question.required', ng-blur="save()")
                                            option(ng-value='true') {{"document.editor.required" | translate}}
                                            option(ng-value='false') {{"document.editor.optional" | translate}}
                                .col-md-4
                                    button.btn.btn-danger(type='button', ng-click='removeQuestion($parent.$index,$index)', style="float:right;margin-left:5px;")
                                        i.fas.fa-trash-alt
                                    button.btn.btn-info(type='button', ng-click='moveQuestion($parent.$index,$index,$index+1)', ng-disabled="$last", style="float:right;margin-left:5px;")
                                        i.fas.fa-chevron-down
                                    button.btn.btn-info(type='button', ng-click='moveQuestion($parent.$index,$index,$index-1)', ng-disabled="$first", style="float:right;margin-left:5px;")
                                        i.fas.fa-chevron-up
                            ul.nav.nav-tabs.mb-3(role='tablist')
                                i.fas.fa-globe.fa-2x &nbsp;
                                li.nav-item(ng-repeat="i18n in question.i18n track by $index", style="margin-right:5px;")
                                    a.nav-link(ng-class="{active:$first}",ng-attr-id="{{'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index + '_tab'}}", data-toggle='pill',ng-href="{{'#block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index}}", role='tab', aria-controls="{{'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index}}", aria-selected='true') {{"language." + i18n.language | translate}}
                            .tab-content
                                .tab-pane.fade.show(ng-class="{active:$first}", ng-attr-id="{{'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index}}", role='tabpanel', aria-labelledby="'block' + $parent.$parent.$index + '_question' + $parent.$index + '_lang'+ $index + '_tab'", ng-repeat="i18n in question.i18n track by $index")
                                    .input-group(style="margin 0 auto;")
                                        .input-group-prepend
                                            span.input-group-text {{"document.editor.questionTitle" | translate}}
                                        input.form-control(type='text', ng-model='i18n.question', ng-blur="save()")
                                    br
                                    span(style="margin-top:10px;") {{"document.editor.description" | translate}}
                                    ng-quill-editor(ng-model="i18n.description", ng-blur="save()")
                                    div(ng-if="question.type == 'input'", style="margin-top:10px;")
                                        span {{"document.editor.hints" | translate}}
                                        ng-quill-editor(ng-model="i18n.example", ng-blur="save()")
                                    div(ng-if="question.type == 'select'", style="margin-top:10px;")
                                        span {{"document.editor.choices" | translate}}
                                        br
                                        div(ng-repeat="option in i18n.options track by $index", style="margin:10px 0px;")
                                            .input-group(style="margin 0 auto;")
                                                .input-group-prepend
                                                    span.input-group-text {{option.value}}
                                                input.form-control(type='text', ng-model='option.text' style="width:950px;", ng-blur="save()")
                                                .input-group-append
                                                    button.btn.btn-info(type='button', ng-disabled="$first", ng-click='moveOption($parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index, $parent.$index, $index, $index-1)')
                                                        i.fas.fa-chevron-up
                                                .input-group-append
                                                    button.btn.btn-info(type='button', ng-disabled="$last", ng-click='moveOption($parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index, $parent.$index, $index, $index+1)')
                                                        i.fas.fa-chevron-down
                                                .input-group-append
                                                    button.btn.btn-danger(type='button', ng-click='removeOption($parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index, $parent.$index, $index)')
                                                        i.fas.fa-trash-alt
                                        div(style="text-align : center;margin:20px;")
                                            button.btn.btn-success(type='button', ng-click='addOption($parent.$parent.$parent.$index, $parent.$parent.$index, $parent.$index)')
                                                i.fas.fa-plus
                                    div(ng-if="question.type == 'pdf' || question.type == 'picture' || question.type == 'movie' || question.type == 'zip'", style="margin-top:10px;")
                                        .input-group(style="margin 0 auto;")
                                            .input-group-prepend
                                                span.input-group-text {{"document.editor.fileName" | translate}}
                                            input.form-control(type='text', ng-model='question.fileName', ng-blur="save()")
                                        span {{"document.editor.extension" | translate}}

                            hr(ng-style="{borderTop: '3px solid #' + block.color}")
                            div(style="text-align : center;")
                                .btn-group    
                                    button.btn.btn-success(type='button',ng-click="addQuestion($parent.$index,$index+1,'input')")
                                        i.fas.fa-plus &nbsp;{{"document.editor.addQuestion" | translate}}                         
                                    

                div(style="text-align : center;margin-top:20px;")
                    .btn-group
                        button.btn.btn-success(type='button',ng-click='addBlock($index+1)')
                            i.fas.fa-plus &nbsp;{{"document.editor.addBlock" | translate}}
            br