//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'DocumentsAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/components/angular-toastr/dist/angular-toastr.tpls.min.js')
  script(src='/javascripts/documents_admin.js')

append css
  link(rel='stylesheet', href='/components/angular-toastr/dist/angular-toastr.css')
  

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId)") {{competition.name}}
    span.breadcrumb-item.active Document settings


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{"document.admin.title" | translate}} - {{competition.name}}
      hr
      h3 {{"document.admin.overall" | translate}}
      .row
        .col-md-4
          .input-group(style="width:100%;margin 0 auto;")
            .input-group-prepend
              span.input-group-text {{"document.admin.access" | translate}}
            select.custom-select(ng-model='docSystemEnabled')
              option(ng-value='true') {{"common.enable" | translate}}
              option(ng-value='false') {{"common.disable" | translate}}
        .col-md-6
          .input-group(style="width:100%;margin 0 auto;")
            .input-group-prepend
              span.input-group-text {{"document.deadline" | translate}}
            input.form-control(type='datetime-local', ng-model='defaultDeadline' style="")
        .col-md-2(style="text-align:right;")
          button.btn.btn-success(type='button', ng-click='set()')
            i.fas.fa-check &nbsp;{{"admin.settings.set" | translate}}
      hr
      h3 {{"document.admin.team" | translate}}
      button(ng-click="go('/admin/' + competitionId + '/documents/teams')" class='btn btn-outline-primary btn-lg btn-block' style="margin-bottom:20px;")
            i.fas.fa-user(aria-hidden='true') &nbsp; {{"document.teamAdmin.title" | translate}}
      hr
      .row
        .col-md-6
          h3 {{"document.admin.question" | translate}}
          div(ng-repeat="league in leagues")
              button(ng-click="go('/admin/' + competitionId + '/documents/' + league.id + '/form')" class='btn btn-outline-danger btn-lg btn-block' style="margin-bottom:20px;")
                i.fas.fa-question-circle(aria-hidden='true') &nbsp; {{league.name}}
        .col-md-6
          h3 {{"document.admin.review" | translate}}
          div(ng-repeat="league in leagues")
              button(ng-click="go('/admin/' + competitionId + '/documents/' + league.id + '/review')" class='btn btn-outline-danger btn-lg btn-block' style="margin-bottom:20px;")
                i.fas.fa-question-circle(aria-hidden='true') &nbsp; {{league.name}}