//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'FormPreview'

append scripts
  script.
    var competitionId = "#{id}"
    var leagueId = "#{lid}"
  script(src="/javascripts/form_preview.js")
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')
  script(src='/components/angular-toastr/dist/angular-toastr.tpls.min.js')
  script(src='/components/quill-image-drop-and-paste/quill-image-drop-and-paste.min.js')
  script(src="/components/bootstrap-fileinput/js/fileinput.min.js")
  script(src="/components/bootstrap-fileinput/themes/fa/theme.min.js")
  script(src="/components/bootstrap-fileinput/js/locales/ja.js")
  script(src="/components/ng-file-upload/ng-file-upload.min.js")


append css
    style.
        p{
            margin-bottom: 0;
        }    
    link(rel='stylesheet', href='/components/quill.snow/index.css')
    link(rel='stylesheet', href='/components/angular-toastr/dist/angular-toastr.min.css')
    link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")

block navbar
    nav.navbar(style='background-color: #283655; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
        .col-sm-6
            span(style="font-size:20px;")
                i.fas.fa-file-alt &nbsp;
                | {{competition.name}} - RCJ Document
        .col-sm-6(style="text-align:right;")
            button.btn.btn-info(type='button', onclick="location.href='/locales'")
                i.fas.fa-language

block bread
    br
    br

block content
    .alert.alert-danger(role='alert',style="margin-bottom: 20px;", ng-if="currentLang != displayLang")
        span このフォームは，お使いの言語に対応していませんので，代替言語で表示します．

    .alert.alert-info(role='alert')
        h4.alert-heading 提出期限: 
            strong(ng-bind="deadline()")
        span このフォームは，上の提出期限まで何度でも編集可能です．

    //Notifications
    div(style="margin-top: 20px;" ng-repeat="notification in notifications track by $index")
        .alert(role="alert", ng-style="{color: '#'+ notification.color, backgroundColor: '#'+ notification.bkColor, borderColor: '#'+ notification.color}")
            h4.alert-heading(ng-bind="langContent(notification.i18n, 'title')")
            span(ng-bind-html="langContent(notification.i18n, 'description')")
    
    div(style="text-align:center;margin-bottom:10px;")
        button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()')
            i.fas.fa-save &nbsp;
            | {{"admin.formEditor.save" | translate}}
    //Team basic information
    .card
        .card-header
            i.fas.fa-user-friends &nbsp;
            | チーム基本情報
        .card-body
            div(style="margin-bottom:10px;")
                strong チームコード・チーム名
            div(style="font-size:20px;")
                p Amalgam
            hr
            div(style="margin-bottom:10px;")
                strong リーグ
            div(style="font-size:20px;")
                p(ng-bind="league.name")
            hr
            div(style="margin-bottom:10px;")
                strong 国・地域
            div(style="font-size:20px;")
                p Japan
    
    div(style="text-align:center;margin:10px 0px;")
        button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()')
            i.fas.fa-save &nbsp;
            | {{"admin.formEditor.save" | translate}}

    div(ng-repeat="(blockIndex, block) in blocks track by $index")
        .card(ng-style="{border: '3px solid #' + block.color}")
            h5.card-header(ng-bind="langContent(block.i18n, 'title')")
            .card-body
                div(ng-repeat="(questionIndex, question) in block.questions track by $index")
                    div(style="margin-bottom:10px;font-size:20px;")
                        i.far.fa-image(ng-if="question.type=='picture'") &nbsp;
                        i.fas.fa-video(ng-if="question.type=='movie'") &nbsp;
                        i.fas.fa-file-pdf(ng-if="question.type=='pdf'") &nbsp;
                        i.fas.fa-file-archive(ng-if="question.type=='zip'") &nbsp;
                        strong(ng-bind="langContent(question.i18n, 'question')")
                        span.badge.badge-danger(ng-show="question.required", style="float:right;margin-left:5px;") 必須
                        span.badge.badge-primary(ng-hide="question.required", style="float:right;margin-left:5px;") 任意
                    div(style="font-size:15px;")
                        p(ng-bind-html="langContent(question.i18n, 'description')")
                        p(ng-if="question.type=='picture'") 最大サイズは5MBです．
                        p(ng-if="question.type=='movie'") 最大サイズは50MBです．
                        p(ng-if="question.type=='pdf'") PDF形式のみ受け付けます．最大サイズは10MBです．
                        p(ng-if="question.type=='zip'") ZIP形式のみ受け付けます．最大サイズは50MBです．
                    div(style="text-align:center;margin:10px 0px;")
                        button.btn.btn-sm.btn-outline-primary(type='button', ng-click="hints(langContent(question.i18n, 'example'))", ng-if="langContent(question.i18n, 'example')")
                            i.fas.fa-lightbulb &nbsp;
                            | ヒント
                    div(ng-if="question.type=='input'")
                        ng-quill-editor(ng-model="answers[blockIndex][questionIndex]")
                    div(ng-if="question.type=='select'")
                        select.custom-select(ng-model='answers[blockIndex][questionIndex]', ng-blur="save()", ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                    .d-sm-flex.flex-row(ng-if="question.type=='picture'")
                        div
                            button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='image/*' ngf-max-size='5MB')
                                i.far.fa-folder-open
                                | ファイルを選ぶ
                        div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                            span ERROR: {{question.errFile.$error}}
                        .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                            .progress
                                .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                        div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                            span {{question.errorMsg}}
                    .d-sm-flex.flex-row(ng-if="question.type=='movie'")
                        div
                            button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='video/*' ngf-max-size='50MB')
                                i.far.fa-folder-open
                                | ファイルを選ぶ
                        div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                            span ERROR: {{question.errFile.$error}}
                        .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                            .progress
                                .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                        div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                            span {{question.errorMsg}}
                    .d-sm-flex.flex-row(ng-if="question.type=='pdf'")
                        div
                            button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='application/pdf' ngf-max-size='10MB')
                                i.far.fa-folder-open
                                | ファイルを選ぶ
                        div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                            span ERROR: {{question.errFile.$error}}
                        .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                            .progress
                                .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                        div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                            span {{question.errorMsg}}
                    .d-sm-flex.flex-row(ng-if="question.type=='zip'")
                        div
                            button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='application/zip' ngf-max-size='50MB')
                                i.far.fa-folder-open
                                | ファイルを選ぶ
                        div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                            span ERROR: {{question.errFile.$error}}
                        .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                            .progress
                                .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                        div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                            span {{question.errorMsg}}


                    hr(ng-if="!$last")

        div(style="text-align:center;margin:10px 0px;")
            button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()')
                i.fas.fa-save &nbsp;
                | {{"admin.formEditor.save" | translate}}
