//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'DocumentForm'

append scripts
  script.
    var competitionId = "#{competition}"
    var teamId = "#{team}"
    var token = "#{token}"
    var deadline = "#{deadline}"
  script(src="/javascripts/documentForm.js")
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')
  script(src='/components/quill-image-drop-and-paste/quill-image-drop-and-paste.min.js')
  script(src="/components/bootstrap-fileinput/js/fileinput.min.js")
  script(src="/components/bootstrap-fileinput/themes/fa/theme.min.js")
  script(src="/components/bootstrap-fileinput/js/locales/ja.js")
  script(src="/components/ng-file-upload/ng-file-upload.min.js")
  script(src="/components/video.js/video.min.js")


append css
    style.
        p{
            margin-bottom: 0;
        }    
    link(rel='stylesheet', href='/components/quill.snow/index.css')
    link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/components/video.js/video-js.min.css')
    //link(rel='stylesheet', href='/components/videojs-themes/sea/index.css')

block navbar
    nav.navbar(style='background-color: #283655; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
        .col-sm-6
            span(style="font-size:20px;")
                i.fas.fa-file-alt &nbsp;
                | {{competition.name}} - RCJ Document
        .col-sm-6(style="text-align:right;")
            button.btn.btn-primary(type='button', ng-click="changeLocale()", style="padding:2px 5px 0px 3px;margin-right:10px;")
                i.fas.fa-language(style="font-size:30px;")
            button.btn.btn-lg.btn-success(type='button', ng-click='save()',style="padding:1px 5px 0px 5px;font-size:22px;")
                i.fas.fa-save &nbsp;
                | {{"common.save" | translate}}

block bread
    br
    br

block content
    .alert.alert-danger(role='alert',style="margin-bottom: 20px;", ng-if="currentLang != displayLang")
        span {{"document.form.languageError" | translate}}

    .alert.alert-info(role='alert')
        h4.alert-heading {{"document.deadline" | translate}}: 
            strong(ng-bind="deadline()")
        span {{"document.form.editDeadline" | translate}}

    //Notifications
    div(style="margin-top: 20px;" ng-repeat="notification in notifications track by $index")
        .alert(role="alert", ng-style="{color: '#'+ notification.color, backgroundColor: '#'+ notification.bkColor, borderColor: '#'+ notification.color}")
            h4.alert-heading(ng-bind="langContent(notification.i18n, 'title')")
            span(ng-bind-html="langContent(notification.i18n, 'description')")
    
    //Team basic information
    .card(style="margin-bottom:20px;")
        h5.card-header
            i.fas.fa-user-friends &nbsp;
            | {{"document.form.basicInformation" | translate}}
        .card-body
            div(style="margin-bottom:10px;")
                strong {{"document.form.teamName" | translate}}
            div(style="font-size:20px;")
                p(ng-bind="team.name")
            hr
            div(style="margin-bottom:10px;")
                strong {{"common.league" | translate}}
            div(style="font-size:20px;")
                p(ng-bind="league.name")
            hr
            div(style="margin-bottom:10px;")
                strong {{"common.region" | translate}}
            div(style="font-size:20px;")
                p(ng-bind="team.country")
    
    if editable
        div(style="text-align:center;margin-bottom:20px;")
            button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()')
                i.fas.fa-save &nbsp;
                | {{"common.save" | translate}}

    div(ng-repeat="(blockIndex, block) in blocks track by $index")
        .card(ng-style="{border: '3px solid #' + block.color}", style="margin-bottom:20px;")
            h5.card-header(ng-bind="langContent(block.i18n, 'title')")
            .card-body
                div(ng-repeat="(questionIndex, question) in block.questions track by $index")
                    div(style="margin-bottom:10px;font-size:20px;")
                        i.far.fa-image(ng-if="question.type=='picture'") &nbsp;
                        i.fas.fa-video(ng-if="question.type=='movie'") &nbsp;
                        i.fas.fa-file-pdf(ng-if="question.type=='pdf'") &nbsp;
                        i.fas.fa-file-archive(ng-if="question.type=='zip'") &nbsp;
                        strong(ng-bind="langContent(question.i18n, 'question')")
                        span.badge.badge-danger(ng-show="question.required", style="float:right;margin-left:5px;") {{"document.form.required" | translate}}
                        span.badge.badge-primary(ng-hide="question.required", style="float:right;margin-left:5px;") {{"document.form.optional" | translate}}
                    div(style="font-size:15px;")
                        p(ng-bind-html="langContent(question.i18n, 'description')")
                        p(ng-if="question.type=='picture'") {{"document.form.max5" | translate}}
                        p(ng-if="question.type=='movie'") {{"document.form.max50" | translate}}
                        p(ng-if="question.type=='pdf'") {{"document.form.pdfOnly" | translate}}{{"document.form.max10" | translate}}
                        p(ng-if="question.type=='zip'") {{"document.form.zipOnly" | translate}}{{"document.form.max50" | translate}}
                    if editable
                        div(style="text-align:center;margin:10px 0px;")
                            button.btn.btn-sm.btn-outline-primary(type='button', ng-click="hints(langContent(question.i18n, 'example'))", ng-if="langContent(question.i18n, 'example')")
                                i.fas.fa-lightbulb &nbsp;
                                | {{"document.form.hints" | translate}}
                    div(ng-if="question.type=='input'")
                        if editable
                            ng-quill-editor(ng-model="answers[blockIndex][questionIndex]")
                        else
                            div(style="margin-top:10px;padding:10px;border: 1px solid #555", ng-bind-html="answers[blockIndex][questionIndex]")
                    div(ng-if="question.type=='select'")
                        if editable
                            select.custom-select(ng-model='answers[blockIndex][questionIndex]', ng-change="save()", ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                        else
                            select.custom-select(ng-model='answers[blockIndex][questionIndex]', disabled , ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                    div(ng-if="question.type=='picture'")
                        .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                            .col-12
                                strong(style="color:#e74c3c;") {{"document.form.overwrite" | translate}}
                                br
                                div(style="text-align:center;margin:10px 0px;")
                                    img.img-thumbnail(style="max-height: 500px;max-width:100%;width: auto;margin-bottom:20px;" ng-src="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}")
                        if editable
                            .d-sm-flex.flex-row
                                div
                                    button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='image/*' ngf-max-size='5MB')
                                        i.far.fa-folder-open
                                        | {{"document.form.selectFile" | translate}}
                                div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                                    span ERROR: {{question.errFile.$error}}
                                .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                                    .progress
                                        .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                                div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                                    span {{question.errorMsg}}
                    div(ng-if="question.type=='movie'")
                        .row(ng-if="checkUploaded(question.fileName) && !question.uploading", style="width:100%;")
                            .col-12
                                strong(style="color:#e74c3c;") {{"document.form.overwrite" | translate}}
                                br
                                div(style="text-align:center;margin:10px 0px;")
                                    video(style="max-width:100%;max-height:600px;", controls, preload="metadata", ng-attr-poster="{{getThumbnailLink(question.fileName)}}")
                                        source(ng-src="{{getVideoLink(v)}}", ng-repeat="v in getVideoList(question.fileName)")

                        if editable  
                            .d-sm-flex.flex-row
                            div
                                button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='video/*' ngf-max-size='5000MB')
                                    i.far.fa-folder-open
                                    | {{"document.form.selectFile" | translate}}
                            div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                                span ERROR: {{question.errFile.$error}}
                            .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                                .progress
                                    .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                            div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                                span {{question.errorMsg}}
                    div(ng-if="question.type=='pdf'")
                        .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                            .col-12
                                strong(style="color:#e74c3c;") {{"document.form.overwrite" | translate}}
                                br
                                div(style="text-align:center;margin:10px 0px;")
                                    iframe(ng-src="{{getPdfLink(question.fileName)}}" style="width:100%; height:600px;" )
                        if editable
                            .d-sm-flex.flex-row
                                div
                                    button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='application/pdf' ngf-max-size='10MB')
                                        i.far.fa-folder-open
                                        | {{"document.form.selectFile" | translate}}
                                div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                                    span ERROR: {{question.errFile.$error}}
                                .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                                    .progress
                                        .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                                div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                                    span {{question.errorMsg}}
                    div(ng-if="question.type=='zip'")
                        .row(ng-if="checkUploaded(question.fileName)", style="width:100%;")
                            .col-12
                                strong(style="color:#e74c3c;") {{"document.form.overwrite" | translate}}
                                br
                                div(style="text-align:center;margin:10px 0px;")
                                    a.btn.btn-primary(type='file' ng-href="/api/document/files/{{team._id}}/{{token}}/{{nameUploaded(question.fileName)}}?v={{updateTime}}")
                                        i.fas.fa-file-archive &nbsp;
                                        | {{"document.form.uploaded" | translate}}
                        if editable
                            .d-sm-flex.flex-row
                                div
                                    button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' accept='application/zip' ngf-max-size='50MB')
                                        i.far.fa-folder-open
                                        | {{"document.form.selectFile" | translate}}
                                div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                                    span ERROR: {{question.errFile.$error}}
                                .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                                    .progress
                                        .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                                div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                                    span {{question.errorMsg}}


                    hr(ng-if="!$last")
        
        if editable
            div(style="text-align:center;margin-bottom:20px;")
                button.btn.btn-lg.btn-outline-success(type='button', ng-click='save()')
                    i.fas.fa-save &nbsp;
                    | {{"common.save" | translate}}
