html(ng-app="ddApp")
  head
    title Rescue Line Input
    script.
      var runId = "#{id}"

    include ./includes/common_component

    script(src="/javascripts/line_input.js")
    script(src="/javascripts/translate_config.js")
    script(src='/components/lightbox2/dist/js/lightbox.min.js')

    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    link(href="/components/css-toggle-switch/dist/toggle-switch.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    nav.navbar(style='background-color: #e84393; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
              li.navbar-brand(href='#')
                i.fas.fa-users
                |  {{team.name}}
      .col-md-3.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fas.fa-hashtag
          |  {{round}}
      .col-md-2.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fas.fa-map-marker-alt
          |  {{field}}
      .col-md-1.col-sm4.col-12
        li.navbar-brand(href='#')
          img(ng-src="{{competition.logo}}" height="30px")

    .container.nav-cont
      div#inputcontent
        .row
          .col-md-12
            .card
              h4.card-header(style="background-color:#0984e3;")
                i.fas.fa-clipboard(aria-hidden='true' style="color:white;") &nbsp;Checkpoints & Scored Elements
              .card-body
                .row
                  .col-sm-2(ng-repeat="list in elementList")
                    table(border="3")
                      tr
                        td No.
                        td Success
                      tr(ng-repeat="item in list" ng-style="numberStyle(item)")
                        td(style="font-size:30px;text-align:center")
                          span(ng-hide="item.afterLoP") {{item.index + 1}}
                        td(style="text-align:center;")
                          button.btn(type='button',ng-click="itemChange(item)",ng-class="{'btn-success': itemSuccess(item),'btn-danger':!itemSuccess(item)}",ng-if="!item.afterLoP",style="width:100%;")
                            i.far(ng-class="{'fa-check-square': itemSuccess(item), 'fa-times-circle': !itemSuccess(item)}")
                          div(ng-if="item.LoP != null")
                            span(ng-show="item.afterLoP") After final checkpoint
                            input.form-control(type='number', placeholder='', min='0', ng-model='LoPs[item.LoP]',style="margin-top:3px;margin-bottom:3px;width:100%;",ng-focus="focused('LoPs',item.LoP)", ng-blur="blured('LoPs',item.LoP,false)")


          .col-md-12(style="margin-top:20px;")
            .card
              h4.card-header(style="background-color:#fd79a8;")
                i.fas.fa-user-injured(aria-hidden='true' style="color:white;") &nbsp;Victims / Rescue Kit
              .card-body
                .row
                  .col-md-5
                    .row
                      .col-6(style='position: relative;', ng-click='changeLevel(1)')
                        img.img-thumbnail(src='/images/level1.png', width='100%', ng-style="{'background-color': evacuationLevel==1?'#2ecc71':'#95a5a6' , 'opacity':evacuationLevel==1?'1':'0.4' }")
                        div(style='position:absolute; top:10px; left:30px;') {{'line.judge.low' | translate}}
                        div(style='position:absolute; bottom:10px; right:25px;', ng-show='evacuationLevel==1')
                          i.far.fa-3x.fa-check-circle(aria-hidden='true', style='color:#27ae60;')
                      .col-6(style='position: relative;', ng-click='changeLevel(2)')
                        img.img-thumbnail(src='/images/level2.png', width='100%', ng-style="{'background-color': evacuationLevel==2?'#2ecc71':'#95a5a6' , 'opacity':evacuationLevel==2?'1':'0.4' }")
                        div(style='position:absolute; top:10px; left:30px;') {{'line.judge.high' | translate}}
                        div(style='position:absolute; bottom:10px; right:25px;', ng-show='evacuationLevel==2')
                          i.far.fa-3x.fa-check-circle(aria-hidden='true', style='color:#27ae60;')
                    hr
                    .row
                      .col-6(style='position: relative;', ng-click='changeLevelK(1)')
                        img.img-thumbnail(src='/images/line-kit-1.png', width='100%', ng-style="{'background-color': kitLevel==1?'#2ecc71':'#95a5a6' , 'opacity':kitLevel==1?'1':'0.4' }")
                        div(style='position:absolute; top:10px; left:30px;') {{'line.judge.noSearch' | translate}}
                        div(style='position:absolute; bottom:10px; right:25px;', ng-show='kitLevel==1')
                          i.far.fa-3x.fa-check-circle(aria-hidden='true', style='color:#27ae60;')
                      .col-6(style='position: relative;', ng-click='changeLevelK(2)')
                        img.img-thumbnail(src='/images/line-kit-2.png', width='100%', ng-style="{'background-color': kitLevel==2?'#2ecc71':'#95a5a6' , 'opacity':kitLevel==2?'1':'0.4' }")
                        div(style='position:absolute; top:10px; left:30px;') {{'line.judge.search' | translate}}
                        div(style='position:absolute; bottom:10px; right:25px;', ng-show='kitLevel==2')
                          i.far.fa-3x.fa-check-circle(aria-hidden='true', style='color:#27ae60;')
                  .col-md-1
                  .col-md-6
                    .row
                      .col-4(ng-click="addVictimTmp('L')")
                        span Max : {{maxLiveVictims}}
                        br
                        .victim_btn(style='width:100%;position: relative;', ng-style="{'background-color': count_victim_list('L') + count_victim_tmp('L') >= maxLiveVictims?'#ccc':'#E1FFFE'}")
                          img.img-thumbnail(src='/images/liveVictim.png', height='60px')

                      .col-4(style='', ng-click="addVictimTmp('D')")
                        span Max : {{maxDeadVictims}}
                        br
                        .victim_btn(style='width:100%;position: relative;', ng-style="{'background-color': count_victim_list('D') + count_victim_tmp('D') >= maxDeadVictims?'#ccc':'#E1FFFE'}")
                          img.img-thumbnail(src='/images/deadVictim.png', height='60px')
                      .col-4(style='', ng-click="addVictimTmp('K')")
                        span Max : 1
                        br
                        .victim_btn(style='width:100%;position: relative;', ng-style="{'background-color': count_victim_list('K') + count_victim_tmp('K') >= 1?'#ccc':'#E1FFFE'}")
                          img.img-thumbnail(src='/images/rescuekit-1.png', height='60px', ng-if="kitLevel==1")
                          img.img-thumbnail(src='/images/rescuekit-2.png', height='60px', ng-if="kitLevel==2")
                    .row(style="margin-top:10px;")
                      .col-12
                        hr
                        h6 {{'line.judge.rescuedVictims' | translate}}
                        span(style='font-size:9px;') {{'line.judge.rescuedVictimsMes' | translate}}
                        table(border='1', style='width:100%; text-align: center; margin-top: 10px;', ng-repeat='j in range(6)', ng-if='victim_list.length > j*5 || j == 0')
                          tbody
                            tr
                              th(style='text-align:center;', ng-repeat='i in range(5)') {{j*5 + i+1}}
                            tr
                              td(ng-repeat='i in range(5)', ng-style="{'background-color': victim_list[j*5 + i].effective?'#E1FFFE':'#ccc'}", ng-dblclick='delete_victim(j*5 + i)', ng-swipe-left='delete_victim(j*5 + i)')
                                img(src='/images/liveVictim.png', width='60px', ng-if="victim_list[j*5 + i].type == 'L'")
                                img(src='/images/deadVictim.png', width='60px', ng-if="victim_list[j*5 + i].type == 'D'")
                                img(src='/images/rescuekit-1.png', width='60px', ng-if="victim_list[j*5 + i].type == 'K' && kitLevel==1")
                                img(src='/images/rescuekit-2.png', width='60px', ng-if="victim_list[j*5 + i].type == 'K' && kitLevel==2")
                                span(style='width:30px;', ng-hide='victim_list[j*5 + i]') ---
          .col-md-12(style="margin-top:20px;")
            .card
              h4.card-header
                i.fas.fa-ellipsis-h(aria-hidden='true') &nbsp;Others
              .card-body
                table(border="3")
                  tr
                    td Type
                    td(style="width:50%;")
                  tr
                    td Time
                    td
                      .input-group.input-group-lg
                        input.form-control(type='tel', placeholder='', aria-label='min', min='0', max='8', ng-model='minutes',ng-focus="focused('minutes')", ng-blur="blured('minutes')")
                        .input-group-append
                          span.input-group-text {{'common.min' | translate}}
                        input.form-control(type='tel', placeholder='', aria-label='sec', min='0', max='60', ng-model='seconds', ng-focus="focused('seconds')", ng-blur="blured('seconds')")
                        .input-group-append
                          span.input-group-text {{'common.sec' | translate}}
                  tr
                    td Exit bonus
                    td
                      div(style='position: relative;' ng-click='changeExitBonus()')
                        img.img-thumbnail(src='/images/line_bonus.png', width='186.3px', height='118px', ng-style="{'background-color': exitBonus?'#2ecc71':'#D91E18'}")
                        div(style='position:absolute; top:15px; left:45px;')
                          i.fas.fa-check.fa-fw.fa-5x(ng-show='exitBonus', style='color:#27ae60; opacity:0.9;')
                          i.fas.fa-times.fa-fw.fa-5x(ng-show='!exitBonus ', style='padding-top:4px; color:#e74c3c; opacity:0.9;')
        .row
          .col-md-12(style="text-align:center;")
            br
            button.btn.btn-success.btn-lg(type='button', ng-click='send()', style="margin-bottom:20px;")
              i.fas.fa-check.fa-2x(aria-hidden='true')  Complete