html(ng-app="ddApp")
  head
    title Rescue Line Field View
    script.
      var fieldId = "#{id}"
      var competitionId = "#{cid}"


    include ./includes/common_component
    script(src="/javascripts/line_view_field.js")
    script(src="/javascripts/translate_config.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    nav.navbar(style='color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%', ng-style='{backgroundColor: navColor(status)}')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fa.fa-spinner.fa-spin.fa-fw
          |  {{team}}
      .col-md-3.col-sm4.col-7
        i.fas.fa-calculator.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{score}} points
      .col-md-3.col-sm4.col-5
        i.fas.fa-stopwatch.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{time*1000 | date:'mm:ss'}}
    .nav-cont
      .tilearea(ng-show='exist')
        div(style='clear:both;')
        #wrapTile.mx-auto(style='margin-top:5px;')
          .row(ng-repeat='r in range(length)', tile-load-finished='', style='margin-right:0px;margin-left:0px')
            .slot(ng-repeat='c in range(width)')
              tile(tile="mtiles[c+','+r+','+z]", ng-repeat='z in range(height)', ng-style="{'opacity': getOpacity(c,r)}", ng-click='showElements(c,r,z)')
      .col-md-12(ng-show='!exist')
        .alert.alert-dark(role='alert')
          h2 現在，このフィールドでは競技が行われていません
          h4 We have no games running at this competition field right now.
    br
    .alert.alert-info(role='alert', ng-show='exist')
      .row
        .col-4
          i.fas.fa-step-forward(aria-hidden='true')  : {{LoPs_total}} times
        .col-8
          i.fas.fa-ambulance(aria-hidden='true' style="color:#e74c3c;") &nbsp;
          span.badge.badge-warning(ng-show='evacuationLevel == 1') Level 1
          span.badge.badge-danger(ng-show='evacuationLevel == 2') Level 2
          span(ng-repeat='victim in victim_list', style='margin-left:5px;')
            img(src='/images/liveVictim.png', width='20px', ng-if="victim.type == 'L'")
            img(src='/images/deadVictim.png', width='20px', ng-if="victim.type == 'D'")
            img(src='/images/rescuekit-1.png', width='20px', ng-if="victim.type == 'K' && kitLevel==1")
            img(src='/images/rescuekit-2.png', width='20px', ng-if="victim.type == 'K' && kitLevel==2")
          span &nbsp;【 ×{{multiplier}} 】



