html(ng-app="ddApp")
  head
    title Rescue Line Sign
    script.
      var runId = "#{id}"

    include ./includes/common_component
    script(src="/javascripts/line_sign."+rule+".js")
    script(src="/javascripts/translate_config.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")

    script(src='/components/jSignature/libs/jSignature.min.js')
    script.
      $(document).ready(function() {
      $("#cap_sig").jSignature()
      $("#ref_sig").jSignature()
      $("#refas_sig").jSignature()
      })
    nav.navbar(style='background-color: #e67e22; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fa.fa-spinner.fa-spin.fa-fw
          |  {{team}}
      .col-md-3.col-sm4.col-7
        i.fas.fa-calculator.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{score}} {{'common.point' | translate}}
      .col-md-3.col-sm4.col-5
        i.fas.fa-stopwatch.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{minutes*60*1000+seconds*1000 | date:'m:ss'}}
    .container-fluid.nav-cont
      .row
        .col-md12
          button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="go('/line/judge/' + runId + '?return=' + getParam('return'))")
            i.far.fa-edit(aria-hidden='true')  {{'line.sign.to_judge' | translate}}
      .row
        .col-md-5.col-lg-4(style='margin-bottom:70px;')
          #card_area
            #lops.card
              h3.card-header
                i.fas.fa-step-forward(aria-hidden='true')
                |  {{'common.lops' | translate}}
              .card-body
                div(ng-repeat='dropTile in range(actualUsedDropTiles+1) track by $index')
                  .card-text(style='display:flex;' ng-style="{'background-color': $index == EvacuationAreaLoPIndex?'#ffcccc':''}")
                    div(style='width:40%;font-size:10px;', align='center')
                      | {{$index==0?'line.judge.start':'line.judge.checkpoint'|translate}}
                      b(style='font-size:15px;color:#FF8300;') {{$index==0?'':$index}}
                      br
                      i.fas.fa-forward.fa-rotate-90(aria-hidden='true')
                      span(ng-if="$index == EvacuationAreaLoPIndex")
                        br
                        i.fas.fa-ambulance.fa-2x(aria-hidden='true' style="color:#c0392b;")
                        br
                        i.fas.fa-forward.fa-rotate-90(aria-hidden='true')
                      br
                      |  {{!$last?'line.judge.checkpoint':'line.judge.Lexit' | translate}}
                      b(style='font-size:15px;color:#FF8300;') {{!$last?$index+1:''}}
                    div(style='width:60%;position: relative;')
                      .input-group.mb-3(style='width:100%; height:40px;position:absolute;margin: auto;top: calc(50% - 20px);')
                        .input-group-prepend
                          button.btn.btn-danger(type='button', disabled)
                            i.fas.fa-minus(aria-hidden='true')
                        div(style='background-color: #F2F2F2; width:40%; text-align: center;')
                          span.count {{LoPs[$index]?LoPs[$index]:0}}
                        .input-group-append
                          button.btn.btn-success(type='button', disabled)
                            i.fas.fa-plus(aria-hidden='true')
                  hr(ng-show='!$last')
        .col-md-7.col-lg-8.tilearea(style='margin-top:-45px;')
          div(style='text-align:left;float:left;')
            .btn-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-arrows-alt-v(aria-hidden='true')
              button.btn.btn-outline-dark(type='button', ng-click='changeFloor(zz)', ng-repeat='zz in range(height)', ng-class='{active: zz == z}')  {{zz}} 
          div(style='text-align:right;float:right;')
            .btn-group
              button.btn.btn-outline-dark(type='button', ng-click='tileRot(-90)')
                i.fas.fa-undo(aria-hidden='true')
              button.btn.btn-outline-dark(type='button', ng-click='tileRot(90)')
                i.fas.fa-redo(aria-hidden='true')
          div(style='clear:both;')
          #wrapTile.mx-auto(style='margin-top:5px;')
            div(ng-repeat='r in range(length)', ng-if='sRotate==0', style='display: flex;')
              div(style='text-align:center;')
                .slot(ng-repeat='c in range(width)')
                  tile(tile="mtiles[c+','+r+','+z]", ng-click='showElements(c,r,z)')
            div(ng-repeat='r in range(length)', ng-if='sRotate==180', style='display: flex;')
              .slot(ng-repeat='c in range(width)')
                tile(tile="mtiles[width - c -1+','+(length - r -1)+','+z]", ng-click='showElements(width - c -1,length - r -1,z)')
            div(ng-repeat='r in range(width)', ng-if='sRotate==270', style='display: flex;')
              .slot(ng-repeat='c in range(length)')
                tile(tile="mtiles[width - r -1+','+c+','+z]", ng-click='showElements(width-r-1,c,z)')
            div(ng-repeat='r in range(width)', ng-if='sRotate==90', style='display: flex;')
              .slot(ng-repeat='c in range(length)')
                tile(tile="mtiles[r+','+ (length - c-1) +','+z]", ng-click='showElements(r,length-c-1,z)')
          br
          .alert.alert-primary(style='margin-bottom:50px;text-align:center;', role='alert')
            h2(style='text-align:center;')
              | {{'common.stotal' | translate}} : {{raw_score - checkTotal() - exitBonusPoints()}} {{'common.point' |translate}}
      hr
      h2 {{'line.sign.checkPointScore' | translate}}
      .row(　style='margin-bottom:50px;text-align:center;display: flex;flex-wrap: wrap;')
        .col-md-3(ng-repeat='cp in checkPointDistance track by $index')
          .alert(ng-class="{'alert-success': cp.status , 'alert-danger': !cp.status}", style='margin-bottom:30px;text-align:center;', role='alert')
            div(style='min-height:100px')
              h6(style='text-align:center;')
                | {{$index==0?'line.sign.start':'line.sign.checkpoint'|translate}}
                b(style='font-size:20px;color:#FF8300;') {{$index==0?'':$index}}
              i.fas.fa-road.fa-2x  {{cp.dis}}
              |  {{'common.tile' | translate}}
              br
              div(ng-if='$index>0')
                i.fas.fa-step-forward.fa-2x  {{LoPs[$index-1]}}
                |  {{'common.times' | translate}}
              i.fas.fa-2x(ng-if='$index==0')
            h1 {{cp.point}} {{'common.point' | translate}}
        .col-md-6
          .alert.alert-primary(style='margin-bottom:30px;text-align:center;', role='alert')
            div(style='min-height:100px')
              h3 {{'line.sign.checkpoint'|translate}} {{'common.stotal' | translate}}
            h1 {{checkTotal()}} {{'common.point' | translate}}
      hr
      h2 {{'line.sign.exitBonus' | translate}}
      .alert.alert-primary(style='margin-bottom:50px;text-align:center;', role='alert')
        .row
          .col-md-4
            img.img-thumbnail(src='/images/line_bonus.png', width='186.3px', height='118px', ng-style="{'background-color': exitBonus?'#2ecc71':'#D91E18'}")
            div(style='position:absolute; top:20px; left:50%; margin-left:-2.5em;')
              i.fas.fa-check.fa-fw.fa-5x(ng-show='exitBonus', style='color:#27ae60; opacity:0.9;')
              i.fas.fa-times.fa-fw.fa-5x(ng-show='!exitBonus ', style='padding-top:4px; color:#e74c3c; opacity:0.9;')
          .col-md-8
            .row
              .col-3
                p Base points
              .col-1
              .col-3
                p
                  i.fas.fa-step-forward &nbsp;{{sum(LoPs)}}  × -5 {{'common.point' | translate}}
              .col-1
              .col-4
                p {{'line.sign.exitBonus' | translate}}
            .row
              .col-3
                h1 {{exitBonus?60:0}} {{'common.point' | translate}}
              .col-1
                h1 -
              .col-3
                h1 {{(exitBonus?60:0) - exitBonusPoints()}} {{'common.point' | translate}}
              .col-1
                h1 =
              .col-4
                h1 {{exitBonusPoints()}} {{'common.point' | translate}}
      hr
      h2 {{'common.stotal' | translate}}
      .alert.alert-dark(style='margin-bottom:50px;text-align:center;', role='alert')
        .row
          .col-md-2
            p(style='height:30px;') {{'line.sign.item' | translate}}
            h1
              | {{raw_score - checkTotal() - exitBonusPoints()}} {{'common.point' | translate}}
          .col-md-1
            p(style='height:30px;')
            h1 +
          .col-md-2
            p(style='height:30px;') {{'line.sign.checkPointScore' | translate}}
            h1 {{checkTotal()}} {{'common.point' | translate}}
          .col-md-1
            p(style='height:30px;')
            h1 +
          .col-md-2
            p(style='text-align:center;height:30px;') {{'line.sign.exitBonus' | translate}}
            h1 {{ exitBonusPoints()}} {{'common.point' | translate}}
          .col-md-1
            p(style='height:30px;')
            h1 =
          .col-md-3
            p(style='height:30px;')
            h1 {{raw_score}} {{'common.point' | translate}}
      hr
      h2 {{'line.sign.rescue' | translate}}&nbsp;/&nbsp;{{'line.sign.kit' | translate}}&nbsp;
        span.badge.badge-danger {{evacuationLevel-1?'line.judge.high':'line.judge.low' | translate}}
      .row(style="display: flex;flex-wrap: wrap;")
        .col-lg-8
          .alert.alert-info(style='margin-bottom:50px;text-align:center;', role='alert')
            .row
              .col-md-6
                .row
                  .col-xl-6.col-lg-12.col-md-6.col-sm-6.col-6(style="margin-bottom:10px;")
                    .victim_btn(style='width:100%;position: relative; background-color: #E1FFFE;')
                      img.img-thumbnail(src='/images/liveVictim.png', width='60px')
                      span &nbsp;
                      img.img-thumbnail(src='/images/deadVictim.png', width='60px')
                      br
                      span(style='font-size:1vw;color:#444;')
                        | {{calc_victim_multipliers("L",true,0)}}
                        |  - ({{evacuationLevel-1?'x0.05':'x0.025'}} ×
                        i.fas.fa-step-forward
                        | {{LoPs[EvacuationAreaLoPIndex]}}
                        span(style='font-size:10px;') times
                        |  )
                      br
                      span.badge.badge-info(style='margin-top:10px;')
                        span(style='font-size:25px;') {{calc_victim_multipliers("L",true)}}
                        |  /victim
                  .col-xl-6.col-lg-12.col-md-6.col-sm-6.col-6
                    .victim_btn(style='width:100%;position: relative; background-color: #E1FFFE;')
                      img.img-thumbnail(src='/images/rescuekit-1.png', width='60px', ng-if="kitLevel==1")
                      img.img-thumbnail(src='/images/rescuekit-2.png', width='60px', ng-if="kitLevel==2")
                      br
                      span(style='font-size:1vw;color:#444;')
                        | {{calc_victim_multipliers("K",true,0)}}
                        |  - ({{evacuationLevel-1?'x0.05':'x0.025'}} ×
                        i.fas.fa-step-forward
                        | {{LoPs[EvacuationAreaLoPIndex]}}
                        span(style='font-size:10px;') times
                        |  )
                      br
                      span.badge.badge-info(style='margin-top:10px;')
                        span(style='font-size:25px;') {{calc_victim_multipliers("K",true)}}
                        |  /kit
              .col-md-6
                table(border='1', style='width:100%; text-align: center; margin-top: 10px;', ng-repeat='j in range(6)', ng-if='victim_list.length > j*4 || j == 0')
                  tbody
                    tr
                      th(style='text-align:center;background-color:#fff;', ng-repeat='i in range(4)') {{j*4 + i+1}}
                    tr
                      td(ng-repeat='i in range(4)', ng-style="{'background-color': victim_list[j*4 + i].effective?'#BDF4CB':'#ccc'}")
                        img(src='/images/liveVictim.png', width='30px', ng-if="victim_list[j*4 + i].type == 'L'")
                        img(src='/images/deadVictim.png', width='30px', ng-if="victim_list[j*4 + i].type == 'D'")
                        img(src='/images/rescuekit-1.png', width='30px', ng-if="victim_list[j*4 + i].type == 'K' && kitLevel==1")
                        img(src='/images/rescuekit-2.png', width='30px', ng-if="victim_list[j*4 + i].type == 'K' && kitLevel==2")
                        span(style='width:30px;', ng-hide='victim_list[j*4 + i]') ---
                        br
                        span(ng-show='victim_list[j*4 + i]')
                          | {{calc_victim_multipliers(victim_list[j*4 + i].type,victim_list[j*4 + i].effective)}}
        .col-lg-4
          .alert.alert-primary(style='margin-bottom:50px;text-align:center;', role='alert')
            h2 {{'common.multipliers' | translate}}
            h1 x{{multiplier}}
      hr
      h2 {{'line.sign.calc' | translate}}
      .alert.alert-warning(style='margin-bottom:50px;text-align:center;', role='alert')
        .row
          .col-md-3
            p(style="height:10px;") {{'common.stotal' | translate}}
            h1 {{raw_score}} {{'common.point' | translate}}
          .col-md-1
            p(style="height:10px;")
            h1 ×
          .col-md-4
            p(style="height:10px;") {{'common.multipliers' | translate}}
            h1 {{multiplier}}
          .col-md-1
            p(style="height:10px;")
            h1 =
          .col-md-3
            p(style="height:10px;") {{'common.score' | translate}}
            h1 {{score}} {{'common.point' | translate}}
      hr
      .alert.alert-success(role='alert')
        .row
          .col-md-6
            .d-none.d-sm-block
              i.fa.fa-calculator.fa-3x(aria-hidden='true')  : {{score}} {{'common.point' | translate}}
            .d-sm-none
              i.fa.fa-calculator.fa-2x(aria-hidden='true')  : {{score}} {{'common.point' | translate}}
          .col-md-6
            .d-none.d-sm-block
              i.fas.fa-stopwatch.fa-3x(aria-hidden='true')
                | : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}
            .d-sm-none
              i.fas.fa-stopwatch.fa-2x(aria-hidden='true')
                | : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}
      br
      br
      .row
        .col-md-12
          #sign.card
            h3.card-header
              i.fas.fa-comment(aria-hidden='true')
              | {{'line.sign.comment' | translate}}
            .card-body
              p.card-text.text-info
                | {{'line.sign.comment_e' | translate}}
              .form-group
                textarea.form-control(ng-model='comment', rows='3')
            h3.card-header
              i.fas.fa-pencil-alt(aria-hidden='true')
              |  {{'line.sign.sign' | translate}}
            .card-body
              strong
              p.card-text.text-warning(translate='line.sign.sign_e')
                strong
              h2(translate='line.sign.cap_sign')
              #cap_sig.confirmation
              br
              h2(translate='line.sign.ref_sign')
              #ref_sig.confirmation
              br
              h2(translate='line.sign.cref_sign')
              #refas_sig.confirmation
      .row(style='margin:100 0 100 0;')
        button.btn.btn-danger.btn-lg.btn-block(type='button', style='padding:30 0 30 0', ng-click='send_sign()')
          i.fas.fa-paper-plane.fa-2x(aria-hidden='true')  {{'line.sign.submit' | translate}}
