//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineEditor'

append scripts
  script.
    var mapId = "#{mapid}"
    var competitionId = "#{compid}"

  script(src="/javascripts/lvl-uuid.js")
  script(src="/javascripts/line_editor.js")
  //script(src="/components/bootstrap-fileinput/js/plugins/piexif.min.js")
  //script(src="/components/bootstrap-fileinput/js/plugins/sortable.min.js")
  //script(src="/components/bootstrap-fileinput/js/plugins/purify.min.js")
  script(src="/components/bootstrap-fileinput/js/fileinput.min.js")
  script(src="/components/bootstrap-fileinput/themes/fa/theme.min.js")
  script(src="/components/bootstrap-fileinput/js/locales/ja.js")
  script(src="/components/html2canvas/index.js")

append css
  link(href="/stylesheets/fredrik.css" rel="stylesheet")
  link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")
  

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId)") {{competition}}
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId + '/line/maps')") Line maps
    span.breadcrumb-item.active Line editor

block content
    h1 {{"admin.lineMapEditor.title" | translate}} 2020
    p {{"admin.lineMapEditor.desc" | translate}}
    div(style='margin-top:50px;')
        .row
            .col-md-6
                button.btn.btn-dark(type='button', ng-click='export()') {{"admin.lineMapEditor.export" | translate}}
            .col-md-6
                input#select(type='file', name='select')
        br
        .row
            .col-md-12
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text {{"admin.lineMapEditor.name" | translate}}
                    input.form-control(type='text', ng-model='name')
                    .input-group-append
                        button.btn.btn-secondary(type='button', ng-click='saveMap()') {{"admin.lineMapEditor.save" | translate}}
                hr
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text {{"admin.lineMapEditor.name" | translate}}
                    input.form-control(type='text', ng-model='saveasname')
                    .input-group-append
                        span.input-group-text(for="selectComp") @
                    select.custom-select#selectComp(ng-model='se_competition', ng-options='b_competitions._id as b_competitions.name for b_competitions in competitions', value='{{competitionId}}')
                    .input-group-append
                        button.btn.btn-secondary(type='button', ng-click='saveMapAs()') {{"admin.lineMapEditor.saveAs" | translate}}

                hr
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text {{"admin.lineMapEditor.height" | translate}}
                    input.form-control(type='number', ng-model='height', ng-change='sliderOptions.ceil = height - 1', min='1')
                    .input-group-append
                        span.input-group-text {{"admin.lineMapEditor.width" | translate}}
                    input.form-control(type='number', ng-model='width', min='1')
                    .input-group-append
                        span.input-group-text {{"admin.lineMapEditor.length" | translate}}
                    input.form-control(type='number', ng-model='length', min='1')

                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text {{"admin.lineMapEditor.liveVictim" | translate}}
                    input.form-control(type='number', ng-model='liveV', min='0')
                    .input-group-append
                        span.input-group-text {{"admin.lineMapEditor.deadVictim" | translate}}
                    input.form-control(type='number', ng-model='deadV', min='0')
                hr
                
                input#isFinished(type='checkbox', ng-model='finished')
                label.checkbox(for='isFinished') {{"admin.lineMapEditor.finished" | translate}}
                br
                .error(ng-show='startNotSet()') {{"admin.lineMapEditor.noStart" | translate}}
        .row
            .col-md-6.tools
                p
                    label
                        | {{"admin.lineMapEditor.tileset" | translate}}
                        select(ng-model='tileSet', ng-options='set as set.name for set in tileSets')
                span.toolbox-tile-container(ng-repeat='tile in tileSet.tiles track by tile.tileType._id')
                    div(style="width:70px;")
                        img.toolbox-tile.rot0(ng-src='/images/tiles/{{tile.tileType.image}}', x-lvl-draggable='true', x-lvl-drop-target='true', x-on-drop='dropped(dragEl, dropEl)', tile-id='{{tile.tileType._id}}', rotate-on-click='', rot='0')
                        span(ng-bind='tileRemain(tile)',ng-style="{'color': tileRemain(tile)>=0?'#000000':'#ff0000'}")
                img
            .col-md-6
                .btn-group(style='margin-bottom:5px;')
                    .input-group-prepend
                        span.input-group-text
                            i.fas.fa-arrows-alt-v(aria-hidden='true')
                    button.btn.btn-outline-dark(type='button', ng-click='changeFloor(zz)', ng-repeat='zz in range(height)', ng-class='{active: zz == z}')  {{zz}} 
                .row(ng-repeat='r in range(length)')
                    .slot(ng-repeat='c in range(width)')
                        tile(tile="tiles[c+','+r+','+z]", x='{{c}}', y='{{r}}', z='{{z}}', x-lvl-draggable='true', x-lvl-drop-target='true', ng-right-click='open(c,r)', ng-click='$parent.rotateTile(c,r)')
        hr
        .row
            .col-6
                h3 Generate course map image
            .col-6
                button.btn.btn-dark(type='button', ng-click='makeImage()') Generate image
        #outputImageArea(style="background-color: #ddd;float:left;padding-left:18px;padding-right:15px;padding-bottom:2px;")
            div(ng-repeat='z in range(height)')
                .row(ng-repeat='r in range(length)')
                    div(ng-repeat='c in range(width)')
                        .slot(style="width:60px;height:60px;border:1px;" ng-if="tileShow4Image(c,r,z)")
                            tile4image(tile="tiles[c+','+r+','+z]", x='{{c}}', y='{{r}}', z='{{z}}')
                hr(ng-show="!$last" style="border-top: 1px solid black;margin-top:10px;margin-bottom:10px;")
        img#result