//- -*- tab-width: 2 -*-
html(ng-app="RunAdmin")
  head
    title Rescue Line Runs Print
    script.
      var runId = "#{id}"

    include ./includes/common_component
    script.
      var competitionId = "#{id}"
    script(src = '/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
    script(src = '/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js')
    script(src='/javascripts/line_run_admin.js')
    script(src='/components/ng-file-upload/ng-file-upload-all.min.js')
    script(src="/javascripts/translate_config.js")
    style(type='text/css').
      .uib-time input {
        padding-left: 0;
        padding-right: 0;
        width: 2.5em;
        margin-right: 0;
      }

      .uib-timepicker .btn {
        padding-left: 6px;
        padding-right: 6px;
      }

      @media print {
        .no_print {
          display: none;
        }

        @page {
          margin: 0;
        }

        body {
          margin: 1.6cm;
        }
      }

  body(ng-controller="RunAdminController")
    .row
      .col-10(style="text-align:center;")
        h1 {{topComment}}
      .col-2(style="text-align:right;")
        img(ng-src="{{competition.logo}}" style="width:100%;max-height:50px;")
    .row
      .col-12
        .refine.no_print
          .card.border-dark.mb-3(style='width:100%;')
            .card-header.bg-transparent.border-dark.fa-2x
              i.fas.fa-cog(aria-hidden='true') Config
              button(onclick="window.print();" class='btn btn-info' style="margin-left:100px; text-align:right;")
                i.fas.fa-print &nbsp;{{"common.print" | translate}}
            .card-body.text-dark
              h6.card-title {{'line.competition.refine.round' | translate}}
              span(ng-repeat='(key, value) in Rrounds track by key')
                input(type='checkbox' ng-model='Rrounds[key]' id="checkR_{{key}}")
                label.checkbox(for="checkR_{{key}}") {{key}}
              hr
              h6.card-title {{'line.competition.refine.field' | translate}}
              span(ng-repeat='(key, value) in Rfields track by key')
                input(type='checkbox' ng-model='Rfields[key]' id="checkF_{{key}}")
                label.checkbox(for="checkF_{{key}}") {{key}}
              hr
              h6.card-title {{'line.competition.refine.team' | translate}}
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-users(aria-hidden='true')
                input.form-control(type='text', placeholder='Team name', aria-label='Username', aria-describedby='basic-addon1' ng-model='teamName')
              hr
              h6.card-title Display items
                br
                br
                input(type='checkbox' ng-model='showTeam' id="showTeam")
                label.checkbox(for="showTeam") Team
                input(type='checkbox' ng-model='showCode' id="showCode")
                label.checkbox(for="showCode") Code
                input(type='checkbox' ng-model='showField' id="showField")
                label.checkbox(for="showField") Field
                input(type='checkbox' ng-model='showScore' id="showScore")
                label.checkbox(for="showScore") Score
                input(type='checkbox' ng-model='showTime' id="showTime")
                label.checkbox(for="showTime") Time
                input(type='checkbox' ng-model='showLoPs' id="showLoPs")
                label.checkbox(for="showLoPs") LoPs
                input(type='checkbox' ng-model='showVictim' id="showVictim")
                label.checkbox(for="showVictim") Victim/Kit
                input(type='checkbox' ng-model='showMultiplier' id="showMultiplier")
                label.checkbox(for="showMultiplier") Multipliers
                input(type='checkbox' ng-model='showExit' id="showExit")
                label.checkbox(for="showExit") Exit
              hr
              h6.card-title Comment
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-pen(aria-hidden='true')
                  input.form-control(type='text', placeholder='', aria-label='Username', aria-describedby='basic-addon1' ng-model='topComment')


        center
          .loader
            img(src="/images/loader2.gif")
            p Now Loading...
        table(class="custom" style="margin-bottom:100px;")
          thead
            tr
              th {{"common.starttime" | translate}}
              th {{"common.round" | translate}}
              th(ng-if="showCode") Team code
              th(ng-if="showTeam") {{"common.team" | translate}}
              th(ng-if="showField") {{"common.field" | translate}}
              th(ng-if="showScore") {{"common.score" | translate}}
              th(ng-if="showTime") {{"common.time" | translate}}
              th(ng-if="showLoPs") {{"common.lops" | translate}}
              th(ng-if="showVictim") {{'common.rescued' | translate}}
              th(ng-if="showMultiplier") {{'common.multipliers' | translate}}
              th(ng-if="showExit") {{'maze.score.exit' | translate}}
          tbody
            tr(ng-repeat='run in runs | filter:list_filter | orderBy:"[startTime,round.name,team.name]"' runs-read-finished='')
              td(ng-bind='run.startTime | date:"dd / HH:mm"')
              td(ng-bind='run.round.name' )
              td(ng-bind='run.team.teamCode' ng-if="showCode")
              td(ng-bind='run.team.name' ng-if="showTeam")
              td(ng-bind='run.field.name' ng-if="showField")
              td(ng-bind='run.score' ng-if="showScore")
              td(ng-bind="run.time.minutes*60*1000+run.time.seconds*1000 | date:'mm:ss'"  ng-if="showTime")
              td(ng-bind='total(run.LoPs)' ng-if="showLoPs")
              td(ng-if="showVictim && run.team.league != 'LineNL'")
                span.badge.badge-warning(ng-show='run.evacuationLevel == 1') Level 1
                span.badge.badge-danger(ng-show='run.evacuationLevel == 2') Level 2
                span(ng-repeat='victim in run.rescueOrder', style='margin-left:5px;')
                  img(src='/images/liveVictim.png', width='20px', ng-if="victim.type == 'L'")
                  img(src='/images/deadVictim.png', width='20px', ng-if="victim.type == 'D'")
                  img(src='/images/rescuekit-1.png', width='20px', ng-if="victim.type == 'K' && run.kitLevel==1")
                  img(src='/images/rescuekit-2.png', width='20px', ng-if="victim.type == 'K' && run.kitLevel==2")
              td.text-center(ng-style="run.isplaying && {'background-color': '#ffffa8'}" ng-if="showVictim && run.team.league=='LineNL'")
                .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;")
                  img(src='/images/silverVictim.png', style="height:20px;")
                  span(style="font-size:20px;") {{run.nl.silverTape}}
                .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;")
                  img(src='/images/greenVictim.png', style="height:20px;")
                  span(style="font-size:20px;") {{run.nl.greenTape}}
                .img-thumbnail(style="padding:0;display: inline-block;")
                  img(src='/images/misidentNL.png', style="height:20px;")
                  span(style="font-size:20px;") {{run.nl.misidentification}}        
              td(ng-if="showMultiplier")
                span ×{{run.multiplier}}
              td(ng-if="showExit")
                i(class="fas fa-check" aria-hidden="true" style="color:#2ecc71;" ng-if="run.exitBonus")
                i(class="fas fa-times" aria-hidden="true" style="color:#e74c3c;" ng-if="!run.exitBonus")

