//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TemplateEditor'

append scripts
  script.
    var subject = "#{subject}"
  script(src='/javascripts/mail_template_editor.js')
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')
  script(src='/components/quill-image-drop-and-paste/quill-image-drop-and-paste.min.js')

append css
  link(rel='stylesheet', href='/components/quill.snow/index.css')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/mailTemplates')") Mail Templates
    span.breadcrumb-item.active Editor



block content
  .row
    .col-12
      div(ng-show="mode=='write'")
        h2 {{"admin.mailTemplates.title" | translate}} - {{subject}}
        span {{"mail.home.deliveredTo" | translate}}
        div(style="max-height:200px;overflow: auto;")
          table.custom(style="margin-bottom:20px;")
            thead
              tr
                th {{"common.team" | translate}}
                th {{"common.league" | translate}}
                th {{"mail.home.deliveredTo" | translate}}
                th {{"mail.home.variable" | translate}}
            tbody
              tr(ng-repeat="team in toTeam track by $index")
                td(ng-bind="team.name")
                td(ng-bind="team.league")
                td
                  div(ng-repeat="em in team.email track by $index")
                    span(ng-bind="em")
                    br
                td
                  button.btn.btn-sm.btn-secondary(type='button', ng-click="showVariable(team.variable)")
                    i.fas.fa-box-open &nbsp;
                    | {{"mail.home.variable" | translate}}

        .input-group(style="margin-bottom:10px;")
          .input-group-prepend
              span.input-group-text {{"mail.home.subject" | translate}}
          input.form-control(type='text', ng-model='subject')
        
        ng-quill-editor(ng-model="mailContent" on-editor-created="quillHeight(editor)")
        br
        div(style="text-align:center;margin-bottom:20px;")
          button.btn.btn-primary(type='button', ng-click="preview()")
            | {{"mail.home.preview" | translate}} / {{"common.save" | translate}}&nbsp;
            i.fas.fa-arrow-right &nbsp;

      div(ng-show="mode=='preview'")
        h2 {{"admin.mailTemplates.title" | translate}} - {{subject}}
        .row
          .col-md-4
            span {{"mail.home.deliverNo" | translate}}
            .input-group.mb-3(style='width:100%; height:40px;position:absolute;margin: auto;')
              .input-group-prepend
                button.btn.btn-info(type='button', ng-click="changePreviewNo(-1)", ng-disabled="previewNo<=0")
                  i.fas.fa-chevron-left(aria-hidden='true')
              div(style='background-color: #F2F2F2; width:40%; text-align: center;')
                span(style="font-size:40px;", ng-bind="previewNo")
              .input-group-append
                button.btn.btn-info(type='button', ng-click="changePreviewNo(1)", ng-disabled="(previewNo+1)>=toTeam.length")
                  i.fas.fa-chevron-right(aria-hidden='true')
          .col-md-8
            span {{"mail.home.deliveredTo" | translate}}
            div(style="max-height:200px;overflow: auto;")
              table.custom(style="margin-bottom:20px;")
                thead
                  tr
                    th {{"common.team" | translate}}
                    th {{"common.league" | translate}}
                    th {{"mail.home.deliveredTo" | translate}}
                tbody
                  tr
                    td(ng-bind="toTeam[previewNo].name")
                    td(ng-bind="toTeam[previewNo].league")
                    td
                      div(ng-repeat="em in toTeam[previewNo].email track by $index")
                        span(ng-bind="em")
                        br
        
        .input-group(style="margin-bottom:10px;")
          .input-group-prepend
              span.input-group-text {{"mail.home.subject" | translate}}
          input.form-control(type='text', ng-model='toTeam[previewNo].mailData.title', disabled)

        div(style="border: 1px solid #444;padding:5px;" ng-bind-html="trust(toTeam[previewNo].mailData.content)")
      
        br
        div(style="text-align:center;margin-bottom:20px;")
          button.btn.btn-secondary(type='button', ng-click="back2Edit()", style="margin-right:10px;")
            i.fas.fa-arrow-left &nbsp;
            | {{"mail.home.back2Edit" | translate}}
          button.btn.btn-primary(type='button', ng-click="save()")
            | {{"common.save" | translate}}&nbsp;
            i.fas.fa-arrow-right &nbsp;
            
        