//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MailTemplates'

append scripts
  script.
  script(src='/javascripts/mail_templates.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    span.breadcrumb-item.active Mail Templates

block content
  .row
    .col-md-2
    .col-md-8
      h1 {{"admin.mailTemplates.title" | translate}}
      button(onclick="location.href='/admin/mailTemplates/editor'" class='btn btn-primary') {{"admin.mailTemplates.create" | translate}}
      br
      span {{"admin.mailTemplates.4duplicate" | translate}}
      br
      br
      table.custom
        thead
            tr
              th {{"admin.mailTemplates.subject" | translate}}
              th {{"common.operation" | translate}}
        tbody
            tr(ng-repeat='mail in mails')
              td
                a(ng-bind='mail.name')
              td
                button.btn.btn-info(type='button', ng-click='go("/admin/mailTemplates/editor/"+mail.name)' style="margin-right:10px;")
                  i.fas.fa-edit &nbsp;
                  |{{"admin.mailTemplates.edit" | translate}}
                button.btn.btn-danger(type='button', ng-click='removeTemplate(mail)')
                  i.fas.fa-trash &nbsp;
                  | {{"common.delete" | translate}}
                

