//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MailHome'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/mail_home.js')
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')
  script(src='/components/quill-image-drop-and-paste/quill-image-drop-and-paste.min.js')

append css
  link(rel='stylesheet', href='/components/quill.snow/index.css')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id)") {{competition.name}}
    span.breadcrumb-item.active Mails



block content
  .row
    .col-12
      div(ng-if="mode=='select'")
        h1 メール配信 - {{competition.name}}
        .refine
          .card.border-dark.mb-3(style='width:100%;')
            .card-header.bg-transparent.border-dark.fa-2x
              i.fas.fa-search(aria-hidden='true') &nbsp;
              | {{'common.refine' | translate}}
            .card-body.text-dark
              h6.card-title {{"common.teamCode" | translate}}
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-list-ol(aria-hidden='true')
                input.form-control(type='text', placeholder='{{"common.teamCode" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineCode')
              hr
              h6.card-title {{"common.team" | translate}}
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-users(aria-hidden='true')
                input.form-control(type='text', placeholder='{{"common.team" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineRegion')
              hr
              h6.card-title {{"common.region" | translate}}
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-globe-asia(aria-hidden='true')
                input.form-control(type='text', placeholder='{{"common.region" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineName')
              hr
              h6.card-title {{"common.league" | translate}}
              span(ng-repeat='(key, value) in Rleagues track by key')
                input(type='checkbox' ng-model='Rleagues[key]' id="checkL_{{key}}")
                label.checkbox(for="checkL_{{key}}") {{key}}
              
        
        div(style="margin-bottom:10px;")
            button(ng-click="selectAll()" class='btn btn-primary' style="margin: 5px 5px 5px 5px;") {{"common.selectAll" | translate}}
            button.btn.btn-secondary(type='button', ng-click="newEmail2SelectedTeam()")
                    i.fas.fa-envelope-open-text &nbsp;
                    | 選択した宛先にメールを新規作成
        table.custom(style="margin-bottom:20px;")
          thead
              tr
                th
                th {{"common.teamCode" | translate}}
                th {{"common.team" | translate}}
                th {{"common.region" | translate}}
                th {{"common.league" | translate}}
                th {{'common.email' | translate}}
                th {{'common.operation' | translate}}
          tbody
              tr(ng-repeat='team in teams | filter:list_filter | orderBy:"[name]"')
                td
                  input(type='checkbox', ng-model='team.checked', style="display:initial;", ng-if="team.email.length > 0")
                td(ng-bind='team.teamCode')
                td(ng-bind='team.name')
                td(ng-bind='team.country')
                td(ng-bind='team.league')
                td
                  div(ng-repeat="em in team.email track by $index", ng-hide="team.edit")
                    span(ng-bind="em")
                    br
                td
                  button.btn.btn-sm.btn-secondary(type='button', ng-click="newMail(team)", ng-if="team.email.length > 0")
                    i.fas.fa-envelope-open-text &nbsp;
                    | メールを新規作成
      div(ng-show="mode=='write'")
        h2 メール作成 - {{competition.name}}
        span 配信対象
        div(style="max-height:200px;overflow: auto;")
          table.custom(style="margin-bottom:20px;")
            thead
              tr
                th チーム名
                th リーグ
                th 配信先
                th 変数
            tbody
              tr(ng-repeat="team in toTeam track by $index")
                td(ng-bind="team.name")
                td(ng-bind="team.league")
                td
                  div(ng-repeat="em in team.email track by $index")
                    span(ng-bind="em")
                    br
                td
                  button.btn.btn-sm.btn-secondary(type='button', ng-click="showVariable(team.variable)")
                    i.fas.fa-box-open &nbsp;
                    | 変数

        .input-group(style="width:100%;margin-bottom:10px;")
          .input-group-prepend
              span.input-group-text テンプレート読み込み
          select.custom-select(ng-model='selectedTemplate', ng-options='template.path as template.name for template in templates', ng-change="changeTemplate()")
            option(value="") テンプレートを選択

        .input-group(style="margin-bottom:10px;")
          .input-group-prepend
              span.input-group-text 題名
          input.form-control(type='text', ng-model='mailTitle')
        
        ng-quill-editor(ng-model="mailContent" on-editor-created="quillHeight(editor)")
        br
        div(style="text-align:center;margin-bottom:20px;")
          button.btn.btn-secondary(type='button', ng-click="back2TeamSelect()", style="margin-right:10px;")
            i.fas.fa-arrow-left &nbsp;
            | 宛先の選択に戻る
          button.btn.btn-primary(type='button', ng-click="preview()")
            | メールをプレビュー&nbsp;
            i.fas.fa-arrow-right &nbsp;

      div(ng-show="mode=='preview'")
        h2 配信プレビュー - {{competition.name}}
        .row
          .col-md-4
            span 配信番号
            .input-group.mb-3(style='width:100%; height:40px;position:absolute;margin: auto;')
              .input-group-prepend
                button.btn.btn-info(type='button', ng-click="changePreviewNo(-1)", ng-disabled="previewNo<=0")
                  i.fas.fa-chevron-left(aria-hidden='true')
              div(style='background-color: #F2F2F2; width:40%; text-align: center;')
                span(style="font-size:40px;", ng-bind="previewNo")
              .input-group-append
                button.btn.btn-info(type='button', ng-click="changePreviewNo(1)", ng-disabled="(previewNo+1)>=toTeam.length")
                  i.fas.fa-chevron-right(aria-hidden='true')
          .col-md-8
            span 配信対象
            div(style="max-height:200px;overflow: auto;")
              table.custom(style="margin-bottom:20px;")
                thead
                  tr
                    th チーム名
                    th リーグ
                    th 配信先
                tbody
                  tr
                    td(ng-bind="toTeam[previewNo].name")
                    td(ng-bind="toTeam[previewNo].league")
                    td
                      div(ng-repeat="em in toTeam[previewNo].email track by $index")
                        span(ng-bind="em")
                        br
        
        .input-group(style="margin-bottom:10px;")
          .input-group-prepend
              span.input-group-text 題名
          input.form-control(type='text', ng-model='toTeam[previewNo].mailData.title')

        div(style="border: 1px solid #444;padding:5px;" ng-bind-html="trust(toTeam[previewNo].mailData.content)")
      
        br
        div(style="text-align:center;margin-bottom:20px;")
          button.btn.btn-secondary(type='button', ng-click="back2Edit()", style="margin-right:10px;")
            i.fas.fa-arrow-left &nbsp;
            | メールの編集に戻る
          button.btn.btn-primary(type='button', ng-click="mailSend()", ng-disabled="sending")
            | メールを送信する&nbsp;
            i.fas.fa-arrow-right &nbsp;
            
        