//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MailSent'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/mail_sent.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id)") {{competition.name}}
    a.breadcrumb-item(ng-click="go('/admin/' + competition._id + '/mails')") Mail
    span.breadcrumb-item.active Sent



block content
  .row
    .col-12
      h1 {{"mail.sent.title" | translate}} - {{competition.name}}
      .refine
        .card.border-dark.mb-3(style='width:100%;')
          .card-header.bg-transparent.border-dark.fa-2x
            i.fas.fa-search(aria-hidden='true') &nbsp;
            | {{'common.refine' | translate}}
          .card-body.text-dark
            h6.card-title {{"common.teamCode" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-list-ol(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.teamCode" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineCode')
            hr
            h6.card-title {{"common.team" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-users(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.team" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineRegion')
            hr
            h6.card-title {{"common.region" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-globe-asia(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.region" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineName')
            hr
            h6.card-title {{"common.league" | translate}}
            span(ng-repeat='(key, value) in Rleagues track by key')
              input(type='checkbox' ng-model='Rleagues[key]' id="checkL_{{key}}")
              label.checkbox(for="checkL_{{key}}") {{key}}
            
      
      table.custom(style="margin-bottom:20px;")
        thead
            tr
              th {{"mail.sent.time" | translate}}
              th {{"mail.sent.subject" | translate}}
              th {{"common.teamCode" | translate}}
              th {{"common.team" | translate}}
              th {{"common.region" | translate}}
              th {{"common.league" | translate}}
              th {{"mail.sent.status" | translate}}
              th {{"common.operation" | translate}}
        tbody
            tr(ng-repeat='mail in mails | filter:list_filter | orderBy:"[name]"')
              td(ng-bind="time(mail.time)", ng-style="{'background-color':statusColour(mail.status)}")
              td(ng-style="{'background-color':statusColour(mail.status)}")
                a(ng-click="mailView(mail)", ng-bind="mail.subject", style="text-decoration: underline; color: blue;") 
              td(ng-bind='mail.team.teamCode', ng-style="{'background-color':statusColour(mail.status)}")
              td(ng-bind='mail.team.name', ng-style="{'background-color':statusColour(mail.status)}")
              td(ng-bind='mail.team.country', ng-style="{'background-color':statusColour(mail.status)}")
              td(ng-bind='mail.team.league', ng-style="{'background-color':statusColour(mail.status)}")
              td(ng-style="{'background-color':statusColour(mail.status)}") {{'mail.status.' + mail.status | translate}}
              td(ng-style="{'background-color':statusColour(mail.status)}")
                button.btn.btn-sm.btn-secondary(type='button', ng-click="detail(mail)")
                  i.fas.fa-envelope-open-text &nbsp;
                  | {{"mail.sent.detail" | translate}}