html(ng-app="ddApp")
  head
    title Rescue Maze Approval
    script.
      var runId = "#{id}"

    include ./includes/common_component
    script(src="/javascripts/maze_check."+rule+".js")
    script(src="/javascripts/translate_config.js")
    script(src='/components/lightbox2/dist/js/lightbox.min.js')

    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    link(href="/stylesheets/fredrik.css" rel="stylesheet")

    link(href="/stylesheets/maze.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")


  body(ng-controller="ddController")
    nav.navbar(style='background-color: #8e44ad; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fas.fa-users
          |  {{team.name}}
      .col-md-3.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fas.fa-hashtag
          |  {{round}}
      .col-md-2.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fas.fa-map-marker-alt
          |  {{field}}
      .col-md-1.col-sm4.col-12
        li.navbar-brand(href='#')
          img(ng-src="{{competition.logo}}" height="30px")
    .container.nav-cont
      div#inputcontent
        .row
          .col-md-6
            .card
              h4.card-header(style="background-color:#fd79a8;")
                i.fas.fa-user-injured(aria-hidden='true' style="color:white;") &nbsp;Victims
              .card-body
                table(border="3")
                  tr
                    td Tile type
                    td Victim type
                    td(style="width:20%;") Identify
                    td(style="width:20%;") Rescue kit
                  tr
                    td(colspan="1" rowspan="4" style="background-color:#fffdea;") Linear tile
                    td
                      img(src="/images/U.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{lui}}
                    td(style="width:20%;background-color:#cd84f1;")
                      p ---
                  tr
                    td
                      img(src="/images/S.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{lsi}}
                    td(style="width:20%;background-color:#cd84f1")
                      h2(style="text-align:center;") {{lsk}}
                  tr
                    td
                      img(src="/images/H.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{lhi}}
                    td(style="width:20%;background-color:#cd84f1;")
                      h2(style="text-align:center;") {{lhk}}
                  tr
                    td
                      img(src="/images/thermometer.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{lhhi}}
                    td(style="width:20%;background-color:#cd84f1;")
                      h2(style="text-align:center;") {{lhhk}}


                  tr
                    td(colspan="1" rowspan="4" style="background-color:#b4ffd5;") Floating tile
                    td
                      img(src="/images/U.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{fui}}
                    td(style="width:20%;background-color:#cd84f1;")
                      p ---
                  tr
                    td
                      img(src="/images/S.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{fsi}}
                    td(style="width:20%;background-color:#cd84f1")
                      h2(style="text-align:center;") {{fsk}}
                  tr
                    td
                      img(src="/images/H.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{fhi}}
                    td(style="width:20%;background-color:#cd84f1;")
                      h2(style="text-align:center;") {{fhk}}
                  tr
                    td
                      img(src="/images/thermometer.png" height="40px;")
                    td(style="width:20%;background-color:#ffcccc;")
                      h2(style="text-align:center;") {{fhhi}}
                    td(style="width:20%;background-color:#cd84f1;")
                      h2(style="text-align:center;") {{fhhk}}

          .col-md-6
            .card
              h4.card-header(style="background-color:#0984e3;")
                i.fas.fa-clipboard(aria-hidden='true' style="color:white;") &nbsp;Score elements
              .card-body
                table(border="3")
                  tr
                    td Type
                    td(style="width:20%;") Number
                  tr
                    td
                      img(src="/images/checkpoint.png" height="40px;")
                      span(style="font-size:30px;") Checkpoints
                    td(style="background-color:#74b9ff;")
                      h2(style="text-align:center;") {{checkpoints}}
                  tr
                    td
                      img(src="/images/log.png" height="40px;")
                      span(style="font-size:30px;") Speedbumps
                    td(style="background-color:#74b9ff;")
                      h2(style="text-align:center;") {{speedbumps}}
                  tr
                    td
                      img(src="/images/ramp_top.png" height="40px;")
                      span(style="font-size:30px;") Ramps(UP)
                    td(style="background-color:#74b9ff;")
                      h2(style="text-align:center;") {{rampUP}}
                  tr
                    td
                      img(src="/images/ramp_bottom.png" height="40px;")
                      span(style="font-size:30px;") Ramps(DOWN)
                    td(style="background-color:#74b9ff;")
                      h2(style="text-align:center;") {{rampDOWN}}
        hr
        .row
          .col-md-12
            .card
              h4.card-header
                i.fas.fa-ellipsis-h(aria-hidden='true') &nbsp;Others
              .card-body
                table(border="3")
                  tr
                    td Type
                    td(style="width:30%;")
                  tr
                    td LoPs
                    td
                      h2(style="text-align:center;") {{LoPs}}
                  tr
                    td Misidentifications
                    td
                      h2(style="text-align:center;") {{MisIdent}}
                  tr
                    td Time
                    td
                      .input-group.input-group-lg
                        h2(style="text-align:center;") {{minutes}}&nbsp;{{'common.min' | translate}}&nbsp;{{seconds}}&nbsp;{{'common.sec' | translate}}

                  tr
                    td Exit bonus
                    td
                      div(style='position: relative;')
                        img.img-thumbnail(src='/images/maze_bonus.png', width='100px', height='100px', ng-style="{'background-color': exitBonus?'#2ecc71':'#D91E18'}")
                        div(style='position:absolute; top:10px; left:0px;')
                          i.fas.fa-check.fa-fw.fa-5x(ng-show='exitBonus', style='color:#27ae60; opacity:0.9;')
                          i.fas.fa-times.fa-fw.fa-5x(ng-show='!exitBonus', style='padding-top:4px; color:#e74c3c; opacity:0.9;')
      .row
        .col-md-12(style="text-align:center;")
          hr
          h1(style="text-align:center") {{score}} points
          hr
          button.btn.btn-warning.btn-lg(type='button', ng-click='send()', style="margin-bottom:20px;")
            i.fas.fa-check.fa-2x(aria-hidden='true')  Approval