//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'SignEditor'

append scripts
  script.
    var sigId = "#{id}"
  script(src="/javascripts/sign_editor.js")

append css
    style.
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu a::after {
            transform: rotate(-90deg);
            position: absolute;
            right: 6px;
            top: .8em;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-left: .1rem;
            margin-right: .1rem;
        }
  
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/signage/setting')") Signage setting
    span.breadcrumb-item.active Signage editor


block content
    h1 {{"signage.editor.title" | translate}}
    div(style='margin-top:50px;')
      .row
        .col-md-12
          .input-group
              .input-group-prepend
                span.input-group-text {{"signage.editor.name" | translate}}
              input.form-control(type='text', ng-model='name')
              .input-group-append
                button.btn.btn-outline-success(type='button', ng-click='save()') {{"signage.editor.save" | translate}}
              .input-group-append
                  button.btn.btn-outline-warning(type='button', ng-click='saveAs()') {{"signage.editor.saveAs" | translate}}
      br
      div(style="text-align : center;")
        button.btn.btn-warning(type='button', ng-click='refresh()')
            i.fas.fa-retweet {{"signage.editor.refresh" | translate}}
      br
      br
      .row
        .col-md-12
            h3 {{"signage.editor.content" | translate}}
            div(style="text-align : center;")
                .btn-group
                    button.btn.btn-success(type='button',ng-click='addContents(0)')
                        i.fas.fa-plus &nbsp;{{"signage.editor.add_blank" | translate}}
                    button.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.sr-only Toggle Dropdown
                    .dropdown-menu
                        a.dropdown-item(href='#',ng-click="addTimeTable(0)") {{"signage.editor.timetable" | translate}}
                        .dropdown-divide
                            h6.dropdown-header {{"signage.editor.score" | translate}}
                            li(ng-repeat="league in leagues")
                                a.dropdown-item(href='#',ng-click="addRanking(0,league)") {{league}}

            div(style="margin: 20px;" ng-repeat="content in contents track by $index")
                .card.mb-3(style='width: 100%;',ng-style="{backgroundColor: content.disable ? '#ccc':'#fff'}")
                    .row.no-gutters
                        .col-md-4
                            iframe(ng-src="{{iframeUrl(content.url)}}",ng-if="content.type!=''",style="width:100%;height:100%;")
                        .col-md-8
                            .card-body
                                .row
                                    .col-6
                                        h5.card-title No. {{$index+1}}
                                    .col-6(style="text-align:right;")
                                        h5
                                            span.badge.badge-primary(ng-if="content.group == 0")  {{"signage.editor.all" | translate}}
                                            span.badge.badge-secondary(ng-if="content.group == 1")  1
                                            span.badge.badge-success(ng-if="content.group == 2")  2
                                            span.badge.badge-danger(ng-if="content.group == 3")  3
                                            span.badge.badge-warning(ng-if="content.group == 4")  4
                                            span.badge.badge-info(ng-if="content.group == 5")  5

                                .input-group(style="width:100%;margin: 10px;")
                                    .input-group-prepend
                                        span.input-group-text {{"signage.editor.type" | translate}}
                                    select.custom-select(ng-model='content.type')
                                        option(value='iframe') {{"signage.editor.iframe" | translate}}
                                        option(value='img') {{"signage.editor.image" | translate}}
                                        option(value='movie') {{"signage.editor.movie" | translate}}
                                    .input-group-append
                                        span.input-group-text {{"signage.editor.group" | translate}}
                                    select.custom-select(ng-model='content.group')
                                        option(value='0') {{"signage.editor.all" | translate}}
                                        option(value='1') 1
                                        option(value='2') 2
                                        option(value='3') 3
                                        option(value='4') 4
                                        option(value='5') 5
                                    .input-group-append
                                        span.input-group-text {{"signage.editor.use" | translate}}
                                    select.custom-select(ng-model='content.disable')
                                        option(ng-value="false") {{"signage.editor.enable" | translate}}
                                        option(ng-value="true") {{"signage.editor.disable" | translate}}
                                .input-group(style="width:100%;margin: 10px", ng-show="durationShow(content)")
                                    .input-group-prepend
                                        span.input-group-text {{"signage.editor.duration" | translate}}
                                    input.form-control(type='number', ng-model='content.duration')
                                    .input-group-append
                                        span.input-group-text {{"common.sec" | translate}}
                                .input-group(style="width:100%;margin: 10px")
                                    .input-group-prepend
                                        span.input-group-text URL
                                    input.form-control(type='text', ng-model='content.url')
                                    .input-group-append(ng-show="content.type=='img' || content.type=='movie'")
                                        button.btn.btn-outline-dark(type='button', ng-click='select($index)') {{"signage.editor.select" | translate}}
                                div(style="text-align:center;")
                                    button.btn.btn-danger(type='button', ng-click='removeContents($index)')
                                        i.fas.fa-times {{"common.delete" | translate}}




                div(style="text-align : center;margin:20px;")
                    .btn-group
                        button.btn.btn-success(type='button',ng-click='addContents($index+1)')
                            i.fas.fa-plus &nbsp;{{"signage.editor.add_blank" | translate}}
                        button.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            span.sr-only Toggle Dropdown
                        .dropdown-menu
                            a.dropdown-item(href='#',ng-click="addTimeTable($index+1)") {{"signage.editor.timetable" | translate}}
                            .dropdown-divide
                            h6.dropdown-header {{"signage.editor.score" | translate}}
                            li(ng-repeat="league in leagues")
                                a.dropdown-item(href='#',ng-click="addRanking($index+1,league)") {{league}}
            br
            br
            br
            h3 {{"signage.editor.news" | translate}}
            div(style="text-align : center;")
                button.btn.btn-success(type='button', ng-click='addNews(0)')
                    i.fas.fa-plus
            div(style="margin: 20px;" ng-repeat="new in news track by $index")
                .input-group(style="width:1200px;margin 0 auto;")
                    .input-group-prepend
                        span.input-group-text {{$index+1}}
                    input.form-control(type='text', ng-model='new.txt' style="width:950px;")
                    .input-group-append
                        button.btn.btn-danger(type='button', ng-click='removeNews($index)')
                            i.fas.fa-times
                div(style="text-align : center;margin:20px;")
                    button.btn.btn-success(type='button', ng-click='addNews($index+1)')
                        i.fas.fa-plus