//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'SimEditor'

append scripts
  script.
    var mapId = "#{mapid}"
    var competitionId = "#{compid}"
    var pubService = "#{pubService}"

  script(src="/javascripts/lvl-uuid.js")
  script(src="/javascripts/sim_editor."+rule+".js")
  script(src="/components/bootstrap-fileinput/js/fileinput.min.js")
  script(src="/components/bootstrap-fileinput/themes/fa/theme.min.js")
  script(src="/components/bootstrap-fileinput/js/locales/ja.js")
  script(src="/components/html2canvas/index.js")

append css
  link(href="/stylesheets/maze_edit.css" rel="stylesheet")
  link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/service')") Public services
    span.breadcrumb-item.active Simulation world editor

block content
    h1 {{"admin.simMapEditor.title" | translate}} 2020
    p {{"admin.simMapEditor.desc" | translate}}
    div(style='margin-top:50px;')
        .row
            .col-md-4
                button.btn.btn-dark(type='button', ng-click='export()') {{"admin.simMapEditor.export" | translate}}
            .col-md-4
                input#select(type='file', name='select')
        br
        .row
            .col-md-12
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text {{"admin.simMapEditor.name" | translate}}
                    input.form-control(type='text', ng-model='name')
                    .input-group-append
                        button.btn.btn-warning(type='button', ng-click='exportW()') {{"admin.simMapEditor.exportW" | translate}}
                hr
                .input-group.mb-3
                    //.input-group-prepend
                        span.input-group-text {{"admin.simMapEditor.height" | translate}}
                    //input.form-control(type='number', ng-model='height', ng-change='sliderOptions.ceil = height - 1', min='1')
                    //.input-group-append
                    .input-group-prepend
                        span.input-group-text {{"admin.simMapEditor.width" | translate}}
                    input.form-control(type='number', ng-model='width', min='1')
                    .input-group-append
                        span.input-group-text {{"admin.simMapEditor.length" | translate}}
                    input.form-control(type='number', ng-model='length', min='1')
                    .input-group-append
                        span.input-group-text Time Limit (sec):
                    input.form-control(type='number', ng-model='time', min = '1')
                    .input-group-append
                .input-group.mb-3
                    .input-group-append
                        button.btn.btn-warning(type='button', id='room1Button', ng-click='selectRoom1()') Select Room 2 Tiles (Half-Walls)
                        | &ensp;
                        button.btn.btn-warning(type='button', id='room2Button', ng-click='selectRoom2()') Select Room 3 Tiles (Curved Walls)
        .row
            .col-md-12
                //.btn-group(style='margin-bottom:5px;')
                    .input-group-prepend
                        span.input-group-text
                            i.fas.fa-arrows-alt-v(aria-hidden='true')
                    button.btn.btn-outline-dark(type='button', ng-click='changeFloor(zz)', ng-repeat='zz in range(height)', ng-class='{active: zz == z}')  {{zz}} 
                table
                    tbody
                        tr(ng-repeat='r in range(2*length + 1)')
                            td(ng-repeat='c in range(2*width + 1)', ng-class="{'wallspot': $odd != $parent.$odd, 'tile': $odd && $parent.$odd, 'wall': cells[c+','+r+','+z].isWall, 'checkpoint': cells[c+','+r+','+z].tile.checkpoint, 'black': cells[c+','+r+','+z].tile.black, 'swamp': cells[c+','+r+','+z].tile.swamp, 'linear': cells[c+','+r+','+z].isLinear}", ng-click='cellClick(c, r, z, $odd != $parent.$odd, $odd && $parent.$odd)', ng-style="wallColor(c,r,z)")
                                .tile-image-container(ng-show="cells[c+','+r+','+z].isTile")
                                    img.tile-image(ng-src='/images/start.png', ng-show='startTile.x == c && startTile.y == r && startTile.z == z')
                                    img.tile-image(ng-src='/images/heated_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'Heated' || cells[c+','+r+','+z].tile.halfWallVic[0] == 4 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 4 || cells[c+','+r+','+z].tile.halfWallVic[1] == 4 || cells[c+','+r+','+z].tile.halfWallVic[7] == 4")
                                    img.tile-image(ng-src='/images/heated_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'Heated' || cells[c+','+r+','+z].tile.halfWallVic[5] == 4 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 4 || cells[c+','+r+','+z].tile.halfWallVic[6] == 4 || cells[c+','+r+','+z].tile.halfWallVic[12] == 4")
                                    img.tile-image(ng-src='/images/heated_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'Heated' || cells[c+','+r+','+z].tile.halfWallVic[10] == 4 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 4 || cells[c+','+r+','+z].tile.halfWallVic[9] == 4 || cells[c+','+r+','+z].tile.halfWallVic[15] == 4")
                                    img.tile-image(ng-src='/images/heated_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'Heated' || cells[c+','+r+','+z].tile.halfWallVic[3] == 4 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 4 || cells[c+','+r+','+z].tile.halfWallVic[2] == 4 || cells[c+','+r+','+z].tile.halfWallVic[8] == 4")
                                    img.tile-image(ng-src='/images/h_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'H' || cells[c+','+r+','+z].tile.halfWallVic[0] == 1 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 1 || cells[c+','+r+','+z].tile.halfWallVic[1] == 1 || cells[c+','+r+','+z].tile.halfWallVic[7] == 1")
                                    img.tile-image(ng-src='/images/h_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'H' || cells[c+','+r+','+z].tile.halfWallVic[5] == 1 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 1 || cells[c+','+r+','+z].tile.halfWallVic[6] == 1 || cells[c+','+r+','+z].tile.halfWallVic[12] == 1")
                                    img.tile-image(ng-src='/images/h_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'H' || cells[c+','+r+','+z].tile.halfWallVic[10] == 1 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 1 || cells[c+','+r+','+z].tile.halfWallVic[9] == 1 || cells[c+','+r+','+z].tile.halfWallVic[15] == 1")
                                    img.tile-image(ng-src='/images/h_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'H' || cells[c+','+r+','+z].tile.halfWallVic[3] == 1 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 1 || cells[c+','+r+','+z].tile.halfWallVic[2] == 1 || cells[c+','+r+','+z].tile.halfWallVic[8] == 1")
                                    img.tile-image(ng-src='/images/u_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'U' || cells[c+','+r+','+z].tile.halfWallVic[0] == 2 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 2 || cells[c+','+r+','+z].tile.halfWallVic[1] == 2 || cells[c+','+r+','+z].tile.halfWallVic[7] == 2")
                                    img.tile-image(ng-src='/images/u_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'U' || cells[c+','+r+','+z].tile.halfWallVic[5] == 2 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 2 || cells[c+','+r+','+z].tile.halfWallVic[6] == 2 || cells[c+','+r+','+z].tile.halfWallVic[12] == 2")
                                    img.tile-image(ng-src='/images/u_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'U' || cells[c+','+r+','+z].tile.halfWallVic[10] == 2 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 2 || cells[c+','+r+','+z].tile.halfWallVic[9] == 2 || cells[c+','+r+','+z].tile.halfWallVic[15] == 2")
                                    img.tile-image(ng-src='/images/u_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'U' || cells[c+','+r+','+z].tile.halfWallVic[3] == 2 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 2 || cells[c+','+r+','+z].tile.halfWallVic[2] == 2 || cells[c+','+r+','+z].tile.halfWallVic[8] == 2")
                                    img.tile-image(ng-src='/images/s_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'S' || cells[c+','+r+','+z].tile.halfWallVic[0] == 3 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 3 || cells[c+','+r+','+z].tile.halfWallVic[1] == 3 || cells[c+','+r+','+z].tile.halfWallVic[7] == 3")
                                    img.tile-image(ng-src='/images/s_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'S' || cells[c+','+r+','+z].tile.halfWallVic[5] == 3 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 3 || cells[c+','+r+','+z].tile.halfWallVic[6] == 3 || cells[c+','+r+','+z].tile.halfWallVic[12] == 3")
                                    img.tile-image(ng-src='/images/s_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'S' || cells[c+','+r+','+z].tile.halfWallVic[10] == 3 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 3 || cells[c+','+r+','+z].tile.halfWallVic[9] == 3 || cells[c+','+r+','+z].tile.halfWallVic[15] == 3")
                                    img.tile-image(ng-src='/images/s_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'S' || cells[c+','+r+','+z].tile.halfWallVic[3] == 3 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 3 || cells[c+','+r+','+z].tile.halfWallVic[2] == 3 || cells[c+','+r+','+z].tile.halfWallVic[8] == 3")
                                    img.tile-image(ng-src='/images/f_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'F' || cells[c+','+r+','+z].tile.halfWallVic[0] == 5 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 5 || cells[c+','+r+','+z].tile.halfWallVic[1] == 5 || cells[c+','+r+','+z].tile.halfWallVic[7] == 5")
                                    img.tile-image(ng-src='/images/f_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'F' || cells[c+','+r+','+z].tile.halfWallVic[5] == 5 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 5 || cells[c+','+r+','+z].tile.halfWallVic[6] == 5 || cells[c+','+r+','+z].tile.halfWallVic[12] == 5")
                                    img.tile-image(ng-src='/images/f_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'F' || cells[c+','+r+','+z].tile.halfWallVic[10] == 5 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 5 || cells[c+','+r+','+z].tile.halfWallVic[9] == 5 || cells[c+','+r+','+z].tile.halfWallVic[15] == 5")
                                    img.tile-image(ng-src='/images/f_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'F' || cells[c+','+r+','+z].tile.halfWallVic[3] == 5 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 5 || cells[c+','+r+','+z].tile.halfWallVic[2] == 5 || cells[c+','+r+','+z].tile.halfWallVic[8] == 5")
                                    img.tile-image(ng-src='/images/p_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'P' || cells[c+','+r+','+z].tile.halfWallVic[0] == 6 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 6 || cells[c+','+r+','+z].tile.halfWallVic[1] == 6 || cells[c+','+r+','+z].tile.halfWallVic[7] == 6")
                                    img.tile-image(ng-src='/images/p_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'P' || cells[c+','+r+','+z].tile.halfWallVic[5] == 6 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 6 || cells[c+','+r+','+z].tile.halfWallVic[6] == 6 || cells[c+','+r+','+z].tile.halfWallVic[12] == 6")
                                    img.tile-image(ng-src='/images/p_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'P' || cells[c+','+r+','+z].tile.halfWallVic[10] == 6 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 6 || cells[c+','+r+','+z].tile.halfWallVic[9] == 6 || cells[c+','+r+','+z].tile.halfWallVic[15] == 6")
                                    img.tile-image(ng-src='/images/p_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'P' || cells[c+','+r+','+z].tile.halfWallVic[3] == 6 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 6 || cells[c+','+r+','+z].tile.halfWallVic[2] == 6 || cells[c+','+r+','+z].tile.halfWallVic[8] == 6")
                                    img.tile-image(ng-src='/images/c_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'C' || cells[c+','+r+','+z].tile.halfWallVic[0] == 7 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 7 || cells[c+','+r+','+z].tile.halfWallVic[1] == 7 || cells[c+','+r+','+z].tile.halfWallVic[7] == 7")
                                    img.tile-image(ng-src='/images/c_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'C' || cells[c+','+r+','+z].tile.halfWallVic[5] == 7 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 7 || cells[c+','+r+','+z].tile.halfWallVic[6] == 7 || cells[c+','+r+','+z].tile.halfWallVic[12] == 7")
                                    img.tile-image(ng-src='/images/c_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'C' || cells[c+','+r+','+z].tile.halfWallVic[10] == 7 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 7 || cells[c+','+r+','+z].tile.halfWallVic[9] == 7 || cells[c+','+r+','+z].tile.halfWallVic[15] == 7")
                                    img.tile-image(ng-src='/images/c_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'C' || cells[c+','+r+','+z].tile.halfWallVic[3] == 7 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 7 || cells[c+','+r+','+z].tile.halfWallVic[2] == 7 || cells[c+','+r+','+z].tile.halfWallVic[8] == 7")
                                    img.tile-image(ng-src='/images/o_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'O' || cells[c+','+r+','+z].tile.halfWallVic[0] == 8 ||  cells[c+','+r+','+z].tile.halfWallVic[4] == 8 || cells[c+','+r+','+z].tile.halfWallVic[1] == 8 || cells[c+','+r+','+z].tile.halfWallVic[7] == 8")
                                    img.tile-image(ng-src='/images/o_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'O' || cells[c+','+r+','+z].tile.halfWallVic[5] == 8 ||  cells[c+','+r+','+z].tile.halfWallVic[13] == 8 || cells[c+','+r+','+z].tile.halfWallVic[6] == 8 || cells[c+','+r+','+z].tile.halfWallVic[12] == 8")
                                    img.tile-image(ng-src='/images/o_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'O' || cells[c+','+r+','+z].tile.halfWallVic[10] == 8 ||  cells[c+','+r+','+z].tile.halfWallVic[14] == 8 || cells[c+','+r+','+z].tile.halfWallVic[9] == 8 || cells[c+','+r+','+z].tile.halfWallVic[15] == 8")
                                    img.tile-image(ng-src='/images/o_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'O' || cells[c+','+r+','+z].tile.halfWallVic[3] == 8 ||  cells[c+','+r+','+z].tile.halfWallVic[11] == 8 || cells[c+','+r+','+z].tile.halfWallVic[2] == 8 || cells[c+','+r+','+z].tile.halfWallVic[8] == 8")
                                    img.tile-image(ng-src='/images/obstacleM.png', ng-show="cells[c+','+r+','+z].tile.obstacle")
                                    img.tile-image(ng-src='/images/halfWall_N.png', ng-show="cells[c+','+r+','+z].tile.halfWallIn[0]")
                                    img.tile-image(ng-src='/images/halfWall_E.png', ng-show="cells[c+','+r+','+z].tile.halfWallIn[1]")
                                    img.tile-image(ng-src='/images/halfWall_S.png', ng-show="cells[c+','+r+','+z].tile.halfWallIn[2]")
                                    img.tile-image(ng-src='/images/halfWall_W.png', ng-show="cells[c+','+r+','+z].tile.halfWallIn[3]")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NW_NE.png', ng-show="cells[c+','+r+','+z].tile.curve[0] == 1")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NW_SE.png', ng-show="cells[c+','+r+','+z].tile.curve[0] == 2")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NW_SW.png', ng-show="cells[c+','+r+','+z].tile.curve[0] == 3")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NW_NW.png', ng-show="cells[c+','+r+','+z].tile.curve[0] == 4")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NE_NE.png', ng-show="cells[c+','+r+','+z].tile.curve[1] == 1")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NE_SE.png', ng-show="cells[c+','+r+','+z].tile.curve[1] == 2")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NE_SW.png', ng-show="cells[c+','+r+','+z].tile.curve[1] == 3")
                                    img.tile-image(ng-src='/images/curvedWall/curved_NE_NW.png', ng-show="cells[c+','+r+','+z].tile.curve[1] == 4")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SW_NE.png', ng-show="cells[c+','+r+','+z].tile.curve[2] == 1")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SW_SE.png', ng-show="cells[c+','+r+','+z].tile.curve[2] == 2")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SW_SW.png', ng-show="cells[c+','+r+','+z].tile.curve[2] == 3")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SW_NW.png', ng-show="cells[c+','+r+','+z].tile.curve[2] == 4")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SE_NE.png', ng-show="cells[c+','+r+','+z].tile.curve[3] == 1")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SE_SE.png', ng-show="cells[c+','+r+','+z].tile.curve[3] == 2")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SE_SW.png', ng-show="cells[c+','+r+','+z].tile.curve[3] == 3")
                                    img.tile-image(ng-src='/images/curvedWall/curved_SE_NW.png', ng-show="cells[c+','+r+','+z].tile.curve[3] == 4")
        hr
        //.row
            .col-6
                h3 {{"admin.lineMapEditor.generateImage" | translate}}
            .col-6
                button.btn.btn-info(type='button', ng-click='makeImageDl()') {{"admin.lineMapEditor.generateImage" | translate}}
                if !pubService
                    button.btn.btn-info(type='button', ng-click='makeImage()',style="margin-left:20px;") {{"admin.lineMapEditor.prepareScoresheets" | translate}}
        //.row
            #outputImageArea(style="float:left;padding-top:100px;padding-left:0px;padding-right:0px;padding-bottom:100px;")
                style.
                    .maru {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        flex-flow: column;
                        vertical-align: top;
                    }
                    .size_normal{
                        width: 15px;
                        height: 15px;
                    }
                    .letter3 {
                        font-size: 1em;
                        line-height: 1.5em;
                        color: white;
                    }
                    .blue1 {
                        color: #3498db;
                        background-color: #3498db;
                    }
                    .pink1 {
                        color: #e84393;
                        background-color: #e84393;
                    }
                table
                    tbody
                        tr(ng-repeat='r in range(2*length + 1)')
                            td(ng-repeat='c in range(2*width + 1)', ng-class="{'wallspot': $odd != $parent.$odd, 'tile': $odd && $parent.$odd, 'wall': cells[c+','+r+','+z].isWall, 'checkpoint': cells[c+','+r+','+z].tile.checkpoint, 'black': cells[c+','+r+','+z].tile.black, 'linear': cells[c+','+r+','+z].isLinear}" , ng-style="wallColor(c,r,z)")
                                .tile-image-container(ng-show="cells[c+','+r+','+z].isTile" style="position: relative;")
                                    div.maru.size_normal.blue1(style="left:1px;top:1px;position: absolute;border-radius:0%;z-index:3;" ng-if="cells[c+','+r+','+z].tile.checkpoint")
                                        div.letter3(ng-bind="itemNumber('checkpoint',c,r,z)")
                                    img.tile-image(ng-src='/images/log.png', ng-show="cells[c+','+r+','+z].tile.speedbump")
                                    div.maru.size_normal.blue1(style="right:1px;bottom:1px;position: absolute;z-index:3;" ng-if="cells[c+','+r+','+z].tile.speedbump")
                                        div.letter3(ng-bind="itemNumber('speedbump',c,r,z)")
                                    img.tile-image(ng-src='/images/elevator.png', ng-show="!isUndefined(cells[c+','+r+','+z].tile.changeFloorTo) && cells[c+','+r+','+z].tile.changeFloorTo != z")
                                    img.tile-image(ng-src='/images/start.png', ng-show='startTile.x == c && startTile.y == r && startTile.z == z')
                                    img.tile-image(ng-src='/images/ramp.png', ng-show="cells[c+','+r+','+z].tile.ramp")
                                    div.maru.size_normal.blue1(style="right:13px;top:12px;position: absolute;z-index:3;border-radius:25%;" ng-if="cells[c+','+r+','+z].tile.ramp")
                                        div.letter3(ng-bind="itemNumber('ramp',c,r,z)")
                                    img.tile-image(ng-src='/images/steps.png', ng-show="cells[c+','+r+','+z].tile.steps")
                                    div.maru.size_normal.blue1(style="right:13px;top:12px;position: absolute;z-index:3;border-radius:25%;" ng-if="cells[c+','+r+','+z].tile.steps")
                                        div.letter3(ng-bind="itemNumber('steps',c,r,z)")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'Heated'")
                                        img.tile-image(ng-src='/images/heated_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Heated',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'Heated'")
                                        img.tile-image(ng-src='/images/heated_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Heated',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'Heated'")
                                        img.tile-image(ng-src='/images/heated_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Heated',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'Heated'")
                                        img.tile-image(ng-src='/images/heated_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Heated',c,r,z,'bottom')")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'H'")
                                        img.tile-image(ng-src='/images/h_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('H',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'H'")
                                        img.tile-image(ng-src='/images/h_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('H',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'H'")
                                        img.tile-image(ng-src='/images/h_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('H',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'H'")
                                        img.tile-image(ng-src='/images/h_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('H',c,r,z,'bottom')")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'S'")
                                        img.tile-image(ng-src='/images/s_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('S',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'S'")
                                        img.tile-image(ng-src='/images/s_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('S',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'S'")
                                        img.tile-image(ng-src='/images/s_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('S',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'S'")
                                        img.tile-image(ng-src='/images/s_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('S',c,r,z,'bottom')")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'U'")
                                        img.tile-image(ng-src='/images/u_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('U',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'U'")
                                        img.tile-image(ng-src='/images/u_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('U',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'U'")
                                        img.tile-image(ng-src='/images/u_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('U',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'U'")
                                        img.tile-image(ng-src='/images/u_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('U',c,r,z,'bottom')")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'Red'")
                                        img.tile-image(ng-src='/images/red_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Red',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'Red'")
                                        img.tile-image(ng-src='/images/red_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Red',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'Red'")
                                        img.tile-image(ng-src='/images/red_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Red',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'Red'")
                                        img.tile-image(ng-src='/images/red_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Red',c,r,z,'bottom')")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'Yellow'")
                                        img.tile-image(ng-src='/images/yellow_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Yellow',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'Yellow'")
                                        img.tile-image(ng-src='/images/yellow_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Yellow',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'Yellow'")
                                        img.tile-image(ng-src='/images/yellow_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Yellow',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'Yellow'")
                                        img.tile-image(ng-src='/images/yellow_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Yellow',c,r,z,'bottom')")

                                    div(ng-if="cells[c+','+r+','+z].tile.victims.top == 'Green'")
                                        img.tile-image(ng-src='/images/green_top.png')
                                        div.maru.size_normal.pink1(style="right:5px;top:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Green',c,r,z,'top')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.right == 'Green'")
                                        img.tile-image(ng-src='/images/green_right.png')
                                        div.maru.size_normal.pink1(style="right:-10px;bottom:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Green',c,r,z,'right')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.left == 'Green'")
                                        img.tile-image(ng-src='/images/green_left.png')
                                        div.maru.size_normal.pink1(style="left:-10px;top:5px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Green',c,r,z,'left')")
                                    div(ng-if="cells[c+','+r+','+z].tile.victims.bottom == 'Green'")
                                        img.tile-image(ng-src='/images/green_bottom.png')
                                        div.maru.size_normal.pink1(style="left:5px;bottom:-10px;position: absolute;z-index:3;")
                                            div.letter3(ng-bind="victimNumber('Green',c,r,z,'bottom')")


