//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TeamHome'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/team_home.js')



block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/home/' + competition._id)") {{competition.name}}
    span.breadcrumb-item.active Teams



block content
  .row
    .col-12
      h1 {{"team_home.title" | translate}} - {{competition.name}}
      .refine
        .card.border-dark.mb-3(style='width:100%;')
          .card-header.bg-transparent.border-dark.fa-2x
            i.fas.fa-search(aria-hidden='true') &nbsp;
            | {{'common.refine' | translate}}
          .card-body.text-dark
            h6.card-title {{"common.teamCode" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-list-ol(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.teamCode" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineCode')
            hr
            h6.card-title {{"common.team" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-users(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.team" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineRegion')
            hr
            h6.card-title {{"common.region" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-globe-asia(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.region" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineName')
            hr
            h6.card-title {{"common.league" | translate}}
            span(ng-repeat='(key, value) in Rleagues track by key')
              input(type='checkbox' ng-model='Rleagues[key]' id="checkL_{{key}}")
              label.checkbox(for="checkL_{{key}}") {{key}}
            
      
      table.custom(style="margin-bottom:20px;")
        thead
            tr
              th {{"common.teamCode" | translate}}
              th {{"common.team" | translate}}
              th {{"common.region" | translate}}
              th {{"common.league" | translate}}
              th {{"common.checkin" | translate}}
              th {{"common.inspected" | translate}}
              th {{'common.operation' | translate}}
        tbody
            tr(ng-repeat='team in teams | filter:list_filter | orderBy:"[name]"')
              td(ng-bind='team.teamCode')
              td(ng-bind='team.name')
              td(ng-bind='team.country')
              td(ng-bind='team.league')
              td
                i(class="fa fa-2x fa-check" aria-hidden="true" style="color:#2ecc71;" ng-if="team.checkin")
                i(class="fa fa-2x fa-times" aria-hidden="true" style="color:#e74c3c;" ng-if="!team.checkin")
              td
                i(class="fa fa-2x fa-check" aria-hidden="true" style="color:#2ecc71;" ng-if="team.inspected")
                i(class="fa fa-2x fa-times" aria-hidden="true" style="color:#e74c3c;" ng-if="!team.inspected")
              td
                if judge
                  button.btn.btn-sm.btn-warning(type='button', ng-click="go('/document/inspection/' + team._id)", style="margin-right:5px;")
                    i.fas.fa-ruler-combined &nbsp;
                    | {{"common.inspection" | translate}}
                button.btn.btn-sm.btn-info(type='button', ng-click="go('/document/public/' + team._id)", style="margin-right:5px;", ng-if="team.document.public")
                  i.fas.fa-file-alt &nbsp;
                  | {{"team_home.document" | translate}} 
                if judge
                  button.btn.btn-sm.btn-primary(type='button', ng-click="go('/document/review/' + team._id + '?return=/home/' + team.competition + '/teams')", style="margin-right:5px;")
                    i.fas.fa-file-alt &nbsp;
                    | {{"team_home.review" | translate}} 
                if view
                  button.btn.btn-sm.btn-success(type='button', ng-click="go('/document/reviewed/' + team._id + '?return=/home/' + team.competition + '/teams')", style="margin-right:5px;")
                    i.fas.fa-file-alt &nbsp;
                    | {{"team_home.result" | translate}} 