//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TeamAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/team_admin.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId)") {{competition.name}}
    span.breadcrumb-item.active Teams


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{competition.name}} - {{"admin.teams.title" | translate}}
      p(ng-if="showMd5" ng-bind="md5(competition.name)")
      table.custom
        thead
            tr
                th {{"common.teamCode" | translate}}
                th {{"common.team" | translate}}
                th {{"common.region" | translate}}
                th {{"common.league" | translate}}
                th {{"common.email" | translate}}
                th {{"common.operation" | translate}}
        tbody
            tr
                td
                  input(ng-model='teamCode' style="width:100%;")
                td
                  input(ng-model='teamName' style="width:100%;")
                td
                  input(ng-model='country' style="width:100%;")
                td
                  select(ng-model='teamLeague' ng-options='league for league in leagues' style="width:100%;")
                td
                  div(ng-repeat="em in email track by $index")
                    input(type="email", ng-model='email[$index]' style="width:100%;margin-bottom:5px;")
                    button.btn.btn-success(type='button', ng-click='addEmail()', style="padding:0px 6px;margin: 5px;", ng-if="$last && email[$index]")
                        i.fas.fa-plus
                td
                    button(ng-click='addTeam()' style="width:100%;") {{"admin.teams.add" | translate}}
      a(ng-href='/admin/{{competitionId}}/teams/bulk') {{"admin.teams.bulk" | translate}}
      br
      br
      .refine
        .card.border-dark.mb-3(style='width:100%;')
          .card-header.bg-transparent.border-dark.fa-2x
            i.fas.fa-search(aria-hidden='true') &nbsp;
            | {{'common.refine' | translate}}
          .card-body.text-dark
            h6.card-title {{"common.teamCode" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-list-ol(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.teamCode" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineCode')
            hr
            h6.card-title {{"common.team" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-users(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.team" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineRegion')
            hr
            h6.card-title {{"common.region" | translate}}
            .input-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-globe-asia(aria-hidden='true')
              input.form-control(type='text', placeholder='{{"common.region" | translate}}', aria-label='Username', aria-describedby='basic-addon1' ng-model='refineName')
            hr
            h6.card-title {{"common.league" | translate}}
            span(ng-repeat='(key, value) in Rleagues track by key')
              input(type='checkbox' ng-model='Rleagues[key]' id="checkL_{{key}}")
              label.checkbox(for="checkL_{{key}}") {{key}}
            
      
      div
          button(ng-click="selectAll()" class='btn btn-primary' style="margin: 5px 5px 5px 5px;") {{"common.selectAll" | translate}}
          button(ng-click="removeSelectedTeam()" class='btn btn-danger' style="margin: 5px 5px 5px 5px;") {{"common.delS" | translate}}
          button(ng-click="reset_kiosk()" class='btn btn-secondary' style="margin: 5px 5px 5px 5px; text-align:right;") Reset Kiosk
      table.custom(style="margin-bottom:60px;")
        thead
            tr
              th
              th {{"common.teamCode" | translate}}
              th {{"common.team" | translate}}
              th {{"common.region" | translate}}
              th {{"common.league" | translate}}
              th {{"common.email" | translate}}
              th {{"common.operation" | translate}}
        tbody
            tr(ng-repeat='team in teams | filter:list_filter | orderBy:"[name]"')
              td
                input(type='checkbox' ng-model='team.checked' style="display:initial;")
              td
                span(ng-bind='team.teamCode', ng-hide="team.edit")
                input(ng-model="team.teamCode", ng-show="team.edit",style="width:100%;")
              td
                span(ng-bind='team.name', ng-hide="team.edit")
                input(ng-model="team.name", ng-show="team.edit",style="width:100%;")
              td
                span(ng-bind='team.country', ng-hide="team.edit")
                input(ng-model="team.country", ng-show="team.edit",style="width:100%;")
              td
                span(ng-bind='team.league', ng-hide="team.edit")
                select(ng-model='team.league' ng-options='league for league in leagues' style="width:100%;", ng-show="team.edit")
              td
                div(ng-repeat="em in team.email track by $index", ng-hide="team.edit")
                  span(ng-bind="em")
                  br
                did(ng-show="team.edit")
                  div(ng-repeat="em in team.email track by $index")
                    input(type="email", ng-model='team.email[$index]' style="width:100%;margin-bottom:5px;")
                    button.btn.btn-success(type='button', ng-click='addTeamEmail(team)', style="padding:0px 6px;margin: 5px;", ng-if="$last && team.email[$index]")
                        i.fas.fa-plus
              td
                div(ng-hide="team.edit")
                  .dropdown
                  button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') {{"common.action" | translate}}
                  .dropdown-menu(aria-labelledby='dropdownMenu')
                      button.dropdown-item(type='button' ng-click="edit(team)") {{"common.edit" | translate}}
                      .dropdown-divider
                      button.dropdown-item(type='button' ng-click='removeTeam(team._id)') {{"common.delete" | translate}}
                
                div(ng-show="team.edit")
                  button(ng-click="update(team)" class='btn btn-success') {{"common.save" | translate}}

      