//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TilesetAdmin'

append scripts
  script(src="/javascripts/lvl-uuid.js")
  script(src="/components/bootstrap-fileinput/js/fileinput.min.js")
  script(src="/components/bootstrap-fileinput/themes/fa/theme.min.js")
  script(src="/components/bootstrap-fileinput/js/locales/ja.js")
  script(src='/javascripts/tileset_admin.js')

append css
  link(href="/components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet")
  style(type='text/css').
    .tile {
      width: 40px;
      height: 40px;
      border: solid;
      border-width: 1px;
      border-color: black;
      margin-right: 2px;
    }
    .tile-container {
      display: inline-block;
      margin: 5px;
    }

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    span.breadcrumb-item.active Line tilesets

block content
  .row
    .col-md-offset-1.col-md-10
      .row
        .col-md-12
          .input-group
            input.form-control(type='text', placeholder="{{'admin.line_tSet.new_tSet' | translate}}", aria-label="Recipient's username with two button addons", aria-describedby='button-addon4',ng-model='newTileSetName')
            #button-addon4.input-group-append
              button.btn.btn-outline-success(type='button',ng-click='createNewTileSet()') {{"common.create" | translate}}
              button.btn.btn-outline-warning(type='button',ng-click='duplicateTileSet()') {{"common.duplicate" | translate}}
      hr
      .row
        .col-md-6
          button.btn.btn-dark(type='button', ng-click='export()') {{"admin.line_tSet.export" | translate}}
        .col-md-6
          input#select(type='file', name='select')
      hr
      .row
        .col-md-6
          .input-group.mb-3
            .input-group-prepend
              label.input-group-text(for='inputGroupSelect01') {{"admin.line_tSet.tSet" | translate}}
            select#inputGroupSelect01.custom-select(ng-model='tileSet' ng-options='set as set.name for set in tileSets')
            .input-group-append
              button.btn.btn-outline-danger(type='button',ng-click='delete()') {{"common.delete" | translate}}
              button.btn.btn-outline-info(type='button',ng-click='save()') {{"common.overwrite" | translate}}

      hr
      .row
        .col-md-6
          h2 {{"admin.line_tSet.available" | translate}}
          span.tile-container(ng-repeat='tileType in tileTypes')
            div(style="width:70px;")
              img.tile(ng-src='/images/tiles/{{tileType.image}}' ng-click='addTile(tileType)')
          button.btn.btn-success.btn-block(ng-click='addAll()') Add all types at once
          br
        .col-md-6
          h2 {{ 'admin.line_tSet.tIn' | translate:translationData }}
          span.tile-container(ng-repeat='tile in tileSet.tiles track by tile.tileType._id')
            div(style="width:70px;")
              img.tile(ng-src='/images/tiles/{{tile.tileType.image}}' ng-click='removeTile(tile)')
              span(ng-bind='tile.count')