<div class="modal-header">
    <h3 class="modal-title">{{"maze.view.m_score" | translate}}</h3>
</div>
<div class="modal-body">
    <ul style="padding-inline-start: 0px;">
        <div class="row" ng-show="cell.tile.checkpoint || cell.tile.speedbump || cell.tile.steps || cell.tile.ramp" style="margin-bottom: 20px;">
            <div class="col-4" style="position: relative;text-align: center;" ng-show="cell.tile.checkpoint">
                <span>{{"maze.judge.m_reach" | translate}}</span>
                <img class="img-thumbnail" src="/images/checkpoint.png" width="100%" ng-style="{'background-color': tile.scoredItems.checkpoint?'#2ecc71':'#D91E18'}">
                <div style="position: absolute; top:20px; left:10px;">
                    <i class="fas fa-check fa-fw fa-5x" ng-show="tile.scoredItems.checkpoint" style="color:#ffffff; opacity:0.9;"></i>
                    <i class="fas fa-times fa-fw fa-5x" ng-show="!tile.scoredItems.checkpoint" style="padding-top:4px; color:#ffffff; opacity:0.9;"></i>
                </div>
            </div>

            <div class="col-4" style="position: relative;text-align: center;" ng-show="cell.tile.speedbump">
                <span>{{"maze.judge.m_bump" | translate}}</span>
                <img class="img-thumbnail" src="/images/log.png" width="100%" ng-style="{'background-color': tile.scoredItems.speedbump?'#2ecc71':'#D91E18'}">
                <div style="position: absolute; top:20px; left:10px;">
                    <i class="fas fa-check fa-fw fa-5x" ng-show="tile.scoredItems.speedbump" style="color:#ffffff; opacity:0.9;"></i>
                    <i class="fas fa-times fa-fw fa-5x" ng-show="!tile.scoredItems.speedbump" style="padding-top:4px; color:#ffffff; opacity:0.9;"></i>
                </div>
            </div>

            <div class="col-4" style="position: relative;text-align: center;" ng-show="cell.tile.steps">
                <span>{{"maze.judge.m_steps" | translate}}</span>
                <img class="img-thumbnail" src="/images/steps.png" width="100%" ng-style="{'background-color': tile.scoredItems.steps?'#2ecc71':'#D91E18'}">
                <div style="position: absolute; top:20px; left:10px;">
                    <i class="fas fa-check fa-fw fa-5x" ng-show="tile.scoredItems.steps" style="color:#ffffff; opacity:0.9;"></i>
                    <i class="fas fa-times fa-fw fa-5x" ng-show="!tile.scoredItems.steps" style="padding-top:4px; color:#ffffff; opacity:0.9;"></i>
                </div>
            </div>

            <div class="col-4" style="position: relative;text-align: center;" ng-show="cell.tile.ramp">
                <span>{{"maze.judge.m_ramp" | translate}}</span>
                <img class="img-thumbnail" src="/images/ramp.png" width="100%" ng-style="{'background-color': tile.scoredItems.ramp?'#2ecc71':'#D91E18'}">
                <div style="position: absolute; top:20px; left:10px;">
                    <i class="fas fa-check fa-fw fa-5x" ng-show="tile.scoredItems.ramp" style="color:#ffffff; opacity:0.9;"></i>
                    <i class="fas fa-times fa-fw fa-5x" ng-show="!tile.scoredItems.ramp" style="padding-top:4px; color:#ffffff; opacity:0.9;"></i>
                </div>
            </div>
        </div>
        <hr ng-if="cell.tile.checkpoint || cell.tile.speedbump || cell.tile.steps || cell.tile.ramp">

        <div ng-show="hasVictims">
            <i class="far fa-2x fa-lightbulb" aria-hidden="true" style="color:#f8b500;">&nbsp;</i>{{"maze.view.m_flash" | translate}}
                <div ng-repeat="(direction, type) in cell.tile.victims track by $index" ng-show="type != 'None'" style="margin-left:50px;" >
                    <input type="checkbox" ng-model="tile.scoredItems.victims[direction]" id="{{ 'victim-' + $index }}" disabled><label class="checkbox" for="{{ 'victim-' + $index }}" ng-style="{backgroundColor: lightStatus(tile.scoredItems.victims[direction],tile.scoredItems.rescueKits[direction]) ? '#d3f5d3': '#f5d3d4'}">
                    <img src="/images/thermometer.png" height=45px ng-if="type=='Heated'">
                    <img src="/images/H.png" height=45px ng-if="type=='H'">
                    <img src="/images/U.png" height=45px ng-if="type=='U'">
                    <img src="/images/S.png" height=45px ng-if="type=='S'">
                    <img src="/images/red.png" height=45px ng-if="type=='Red'">
                    <img src="/images/yellow.png" height=45px ng-if="type=='Yellow'">
                    <img src="/images/green.png" height=45px ng-if="type=='Green'">
                    <i class="fa-2x">{{modalRotate(direction)}}</i>
                    </label>
                </div>
        <div>
        <div ng-show="hasVictims">
            <i class="fas fa-2x fa-medkit" aria-hidden="true" style="color:#c53d43;">&nbsp;</i>{{"maze.view.m_kit" | translate}}
                <div ng-repeat="(direction, type) in cell.tile.victims" ng-show="type != 'None'" style="margin-left:50px;">
                    <div class="input-group mb-3" style="width:100%;" >
                        <div class="input-group-prepend">
                            <span class="input-group-text" ng-style="{backgroundColor: kitStatus(tile.scoredItems.victims[direction],tile.scoredItems.rescueKits[direction],type) ? '#d3f5d3': '#f5d3d4'}">
                                <img src="/images/thermometer.png" height=30px ng-if="type=='Heated'">
                                <img src="/images/H.png" height=30px ng-if="type=='H'">
                                <img src="/images/U.png" height=30px ng-if="type=='U'">
                                <img src="/images/S.png" height=30px ng-if="type=='S'">
                                <img src="/images/red.png" height=30px ng-if="type=='Red'">
                                <img src="/images/yellow.png" height=30px ng-if="type=='Yellow'">
                                <img src="/images/green.png" height=30px ng-if="type=='Green'">
                                &nbsp;{{modalRotate(direction)}}
                            </span>
                        </div>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-danger"  disabled>
                                <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input type="text" name="quant[2]" class="form-control input-number" ng-model="tile.scoredItems.rescueKits[direction]" min="1" max="12" readonly="readonly" style="font-size:25px;" ng-style="{backgroundColor: kitStatus(tile.scoredItems.victims[direction],tile.scoredItems.rescueKits[direction],type) ? '#d3f5d3': '#f5d3d4'}">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-success" disabled>
                                <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <br>
                </div>

        </div>
    </ul>
</div>


<div class="modal-footer">
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="ok()">OK</button>
</div>
