<div class="modal-header">
    <h3 class="modal-title">{{"maze.judge.m_score" | translate}}</h3>
</div>
<div class="modal-body">
    <ul style="padding-inline-start: 0px;">
        <li ng-show="cell.tile.checkpoint">
            <input type="checkbox" ng-model="tile.scoredItems.checkpoint" id="hasCheckpoint"><label for="hasCheckpoint" class="checkbox" ng-style="{backgroundColor: tile.scoredItems.checkpoint ? '#d3f5d3': '#f5d3d4'}" ng-click="clickSound()">{{"maze.judge.m_reach" | translate}}</label>
        </li>
        <li ng-show="cell.tile.speedbump">
            <input type="checkbox" ng-model="tile.scoredItems.speedbump" id="hasSpeedbumps"><label class="checkbox" for="hasSpeedbumps" ng-style="{backgroundColor: tile.scoredItems.speedbump ? '#d3f5d3': '#f5d3d4'}" ng-click="clickSound()">{{"maze.judge.m_bump" | translate}}</label>
        </li>
        <li ng-show="cell.tile.steps">
            <input type="checkbox" ng-model="tile.scoredItems.steps" id="hasSteps"><label class="checkbox" for="hasSteps" ng-style="{backgroundColor: tile.scoredItems.steps ? '#d3f5d3': '#f5d3d4'}" ng-click="clickSound()">{{"maze.judge.m_steps" | translate}}</label>
        </li>
        <div ng-show="cell.tile.ramp">
            <h2>{{"maze.judge.m_ramp" | translate}}</h2>
            <div class="row">
                <div class="col-6" style="position: relative;" ng-click="changeRampUp()">
                    <img class="img-thumbnail" src="/images/rampUP.png" width="100%" ng-style="{'background-color': tile.scoredItems.rampUp?'#2ecc71':'#D91E18'}">
                    <div style="position: absolute; top:20px; left:65px;">
                        <i class="fas fa-check fa-fw fa-5x" ng-show="tile.scoredItems.rampUp" style="color:#27ae60; opacity:0.9;"></i>
                        <i class="fas fa-times fa-fw fa-5x" ng-show="!tile.scoredItems.rampUp" style="padding-top:4px; color:#e74c3c; opacity:0.9;"></i>
                    </div>
                </div>
                <div class="col-6" style="position: relative;" ng-click="changeRampDown()">
                    <img class="img-thumbnail" src="/images/rampDOWN.png" width="100%" ng-style="{'background-color': tile.scoredItems.rampDown?'#2ecc71':'#D91E18'}">
                    <div style="position: absolute; top:20px; left:65px;">
                        <i class="fas fa-check fa-fw fa-5x" ng-show="tile.scoredItems.rampDown" style="color:#27ae60; opacity:0.9;"></i>
                        <i class="fas fa-times fa-fw fa-5x" ng-show="!tile.scoredItems.rampDown" style="padding-top:4px; color:#e74c3c; opacity:0.9;"></i>
                    </div>
                </div>

            </div>
        </div>

        <div ng-show="hasVictims">
            <i class="far fa-2x fa-lightbulb" aria-hidden="true" style="color:#f8b500;">&nbsp;</i>{{"maze.judge.m_flash" | translate}}
                <div ng-repeat="(direction, type) in cell.tile.victims track by $index" ng-show="type != 'None'" style="margin-left:50px;" >
                    <input type="checkbox" ng-model="tile.scoredItems.victims[direction]" id="{{ 'victim-' + $index }}"><label class="checkbox" for="{{ 'victim-' + $index }}" ng-style="{backgroundColor: lightStatus(tile.scoredItems.victims[direction],tile.scoredItems.rescueKits[direction]) ? '#d3f5d3': '#f5d3d4'}" ng-click="clickSound()">
                    <img src="/images/thermometer.png" height=45px ng-if="type=='Heated'">
                    <img src="/images/H.png" height=45px ng-if="type=='H'">
                    <img src="/images/U.png" height=45px ng-if="type=='U'">
                    <img src="/images/S.png" height=45px ng-if="type=='S'">
                    <img src="/images/red.png" height=45px ng-if="type=='Red'">
                    <img src="/images/yellow.png" height=45px ng-if="type=='Yellow'">
                    <img src="/images/green.png" height=45px ng-if="type=='Green'">
                    <i class="fa-2x">{{modalRotate(direction)}}</i>
                    </label>
                </div>
        <div>
        <div ng-show="hasVictims">
            <i class="fas fa-2x fa-medkit" aria-hidden="true" style="color:#c53d43;">&nbsp;</i>{{"maze.judge.m_kit" | translate}}
                <div ng-repeat="(direction, type) in cell.tile.victims" ng-show="type != 'None'" style="margin-left:50px;">
                    <div class="input-group" style="width:100%;" >
                        <span class="input-group-addon" ng-style="{backgroundColor: kitStatus(tile.scoredItems.victims[direction],tile.scoredItems.rescueKits[direction],type) ? '#d3f5d3': '#f5d3d4'}">
                               <img src="/images/thermometer.png" height=30px ng-if="type=='Heated'">
                                <img src="/images/H.png" height=30px ng-if="type=='H'">
                                <img src="/images/U.png" height=30px ng-if="type=='U'">
                                <img src="/images/S.png" height=30px ng-if="type=='S'">
                                <img src="/images/red.png" height=30px ng-if="type=='Red'">
                                <img src="/images/yellow.png" height=30px ng-if="type=='Yellow'">
                                <img src="/images/green.png" height=30px ng-if="type=='Green'">
                                &nbsp;{{modalRotate(direction)}}
                        </span>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger"  ng-click="decKits(direction)">
                                <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input type="text" name="quant[2]" class="form-control input-number" ng-model="tile.scoredItems.rescueKits[direction]" min="1" max="12" readonly="readonly" style="font-size:25px;" ng-style="{backgroundColor: kitStatus(tile.scoredItems.victims[direction],tile.scoredItems.rescueKits[direction],type) ? '#d3f5d3': '#f5d3d4'}">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="incKits(direction)">
                                <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <br>
                </div>

        </div>
    </ul>
</div>


<div class="modal-footer">
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="ok()">OK</button>
</div>
