
<style>
    .tile4-image {
        width: 60px;
        height: 60px;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
        vertical-align: bottom;
    }
</style>
<div class="text-right chnumtxt" style="font-size: 13px; color: orange; z-index:2;position: relative; right:5px; top:2px;" ng-if="tile.checkPoint || isStart(tile)">
    <span style="background-color: rgba(255,255,255,0.7);">{{tileNumber(tile)}}</span>
</div>
<div class="text-right chnumtxt" style="font-size: 13px; color: #0abde3; z-index:10;position: relative; right:5px; top:2px;" ng-if="scoringItems(tile)">
    <span style="background-color: rgba(255,255,255,0.7);">{{tileNumber(tile)}}</span>
</div>
<img ng-src="/images/tiles/{{tile.tileType.image}}"  class="rot{{tilerotate(tile.rot)}} tile4-image" ng-class="{'drop-tile': isDropTile(tile) || isStart(tile)}" ng-show="tile.tileType.image">

<img ng-src="/images/mapimage/bump1.png"  class="tile4-image"  ng-show="tile.items.speedbumps==1" style="opacity:0.7;z-index:2"/>
<img ng-src="/images/mapimage/bump2.png"  class="tile4-image"  ng-show="tile.items.speedbumps==2" style="opacity:0.7;z-index:2"/>
<img ng-src="/images/mapimage/bump3.png"  class="tile4-image"  ng-show="tile.items.speedbumps==3" style="opacity:0.7;z-index:2"/>
<img ng-src="/images/mapimage/bump4.png"  class="tile4-image"  ng-show="tile.items.speedbumps==4" style="opacity:0.7;z-index:2"/>
<img ng-src="/images/mapimage/bump5.png"  class="tile4-image"  ng-show="tile.items.speedbumps==5" style="opacity:0.7;z-index:2"/>


<img ng-src="/images/mapimage/obstacle.png"  class="tile4-image"  ng-show="tile.items.obstacles>0" style="opacity:0.7;z-index:2"/>

<img ng-src="/images/mapimage/ramp.png"  class="tile4-image"  ng-show="tile.items.rampPoints"  style="opacity:0.9;z-index:2"/>

<img ng-src="/images/mapimage/up.png"  class="tile4-image" ng-class="rotateRamp(tile.levelUp)" ng-show="tile.levelUp" style="opacity:0.9;z-index:2"/>
<img ng-src="/images/mapimage/down.png"  class="tile4-image" ng-class="rotateRamp(tile.levelDown)" ng-show="tile.levelDown" style="opacity:0.9;z-index:2"/>


<img ng-src="/images/mapimage/start.png"  class="tile4-image" ng-show="isStart(tile)" style="opacity:0.9;z-index:2"/>
<img ng-src="/images/mapimage/start2.png"  class="tile4-image" ng-show="isStart2(tile)" style="opacity:0.9;z-index:2"/>
